@use "../foundation"as *;

@keyframes fadein {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.l-main {
  animation: fadein 1s forwards;
  overflow: hidden;
}

.l-content {

  border: 2px solid #1c1e22;
  background: rgba($color: #1b1b1b, $alpha: 0.55);
  max-width: 768px;
  width: 96vw;
  margin: 0 auto;
  @include mq-target(sm) {
    padding: 10px;
  }
  @include mq-target(md) {
    max-width: 1240px;
    width: 98vw;
    padding: min(vwpc(6px), 10px);
  }

  &__inner {

    // margin-top: 40px;
    // padding: 0 2vw;
    @include mq-target(md) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__empty {
    // display: none;
    width: min(vwpc(180px), 220px) !important;
    display: none;

    @include mq-target(lg) {
      display: block;
    }
  }
}



.l-side {
  position: relative;
  z-index: 50;

  @include mq-target(md) {
    width: min(vwpc(168px), 224px);
  }

  // background: #000;

  &-tab {
    &__item {
      cursor: pointer;
      width: 33%;
    }
  }

  &__scroll {
    width: min(vwpc(190px), 244px);
  }

  &__inner {

    // background: rgba($color: #000, $alpha: 0.45);
    // background: rgba($color: #1b1b1b, $alpha: 0.55);
    &:not(:first-child) {
      // margin-top: 10px;
    }
  }

  &__rank {
    position: relative;

    span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 16px;
      background-color: rgba(220, 6, 16, .9);
      color: #fff;
      font-size: 16px;
      font-style: italic;
      text-align: center;
      font-weight: 500;
    }
  }

  &__list {

    // margin-top: -16px;
    display: flex;
    justify-content: space-between;

    @include mq-target(md) {
      display: block;
    }
  }


  &__item {
    background-position: center;
    // @include flex($align:center,$justify:center);
    width: 32%;
    // padding-top: 16px;

    &--left {
      &:first-child {
        padding-top: 0;
      }
    }

    &:first-child {
      border-top: none;
      // padding-top: 0;
    }

    @include mq-target(md) {
      width: 100%;
    }

    counter-increment: rank;
    position: relative;
    overflow: hidden;

    & .l-side__rank {
      position: relative;
      width: 100%;
      overflow: hidden;

      a {
        border-radius: 0px !important;

        figure {
          padding: 0 !important;

          picture {
            border-radius: 0;
          }
        }
      }

      &::before {
        border-radius: 6px;
        content: "";
        background: rgba($color: #dc0610, $alpha: 0.85);
        // background: rgba($color: #2837bb, $alpha: 1.0);
        filter: drop-shadow(0 0 4px rgba(254, 233, 46, .25));
        display: block;
        width: 100%;
        height: 32px;
        transform: rotate(-45deg);
        position: absolute;
        left: -50%;
        top: 0;
        z-index: 1;
      }

      &::after {
        font-style: italic;
        content: counter(rank);
        color: white;
        font-size: 14px;
        font-weight: italic;
        line-height: initial;
        text-align: center;
        width: 1.4em;
        position: absolute;
        left: .1em;
        top: .2em;
        z-index: 2;
      }

    }

    & .p-news-cont__head {
      width: 100%;
    }


  }


  &__img {
    padding: 0 !important;
    margin-bottom: 4px;

    picture {
      height: min(vwpc(48px), 68px) !important;
      padding: initial !important;
    }

    img {
      object-fit: cover;
    }
  }





  // &__link {
  //       &::after {
  //     content: "";
  //     @include absAll;
  //     opacity: 0;
  // }
  // }

  &__img {
    picture {
      // padding-top: 50.25%;
    }
  }


  &-cont {
    &__head {
      // flex: 0;
      // width: 50px;
      // padding: 0 20px 0 10px;
      width: min(vwpc(42px), 52px) !important;
      margin-left: -10px;
      display: none;

      @include mq-target(lg) {
        margin-left: -14px;
        display: block;
      }

      &--art {
        display: none;
      }

      a {
        font-style: italic;
        font-family: sans-serif;
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        height: 100%;
        font-size: 20px !important;
        // font-size: min(vwpc(18px),22px) !important;
      }
    }

    &__bot {
      flex: 1;
      margin: 4px 0 0 !important;
      text-align: left;
    }

    &__ttl {
      word-break: break-all;
      // line-height: 1.5;
      font-weight: 400 !important;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 4;
      margin: 0 !important;
      font-size: min(vwpc(12px), 14px) !important;
      // font-size: 14px !important;
    }
  }
}



.IEblock {
  display: none;
}


.bg_particles {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;

  canvas {
    filter: blur(1px);
  }
}