@use "../foundation" as *;

.l-footer {
  margin-top: 100px;
  // background: #fff;
  position: relative;
  
  // border-top: $border;
  // top: -14px;
  
  z-index: 3;
  
  &__inner {
    background-color: #212121; 
    padding: 40px 0 32px;
    position: relative;
    z-index: 400;
  }

  &__container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }

  &-sns {
    &__list {
      margin: 1.5em 0;
      // padding: 1em 0;
      // background-color: rgba(0,0,0,.1);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__item {
      padding: 0 8px;

      a {
        svg {
          color: $color-white;
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  &__logo {
    width: 280px;
    margin: auto;
  }

  &__copy {
    font-size: 12px;
  }

  &__pageTop {
    bottom: 40px;
    position: fixed;
    z-index: 5;
    top: auto;
    left: auto;
    margin: 0;
    right: 40px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }

    a {
      display: block;
      width: 52px;
      height: 52px;
      border-radius: 9999px;
      border: 1px solid $color-bg;
      background: rgba($color: #fff, $alpha: 0.85);
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        color: $color-bg;
        width: 28px;
        height: 28px;
      }
    }

    // transform: scale(-1);
  }

}



