@use "../foundation" as *;

.l-footer {
  
  position: relative;  
  z-index: 3;
  @include mq-target(sm) {
    margin: 0;
    // margin-top: 60px !important;
  }
  
  &__inner {
    background: linear-gradient(90deg, navy, #1084d0);
    // background-color: #212121; 
    position: relative;
    padding: 20px 0 80px;
    @include mq-target(sm) {
      padding:60px 0 42px;
    }
    @include mq-target(md) {
      padding:80px 0 62px;
    }
  }

  &__container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }

  &-sns {
    &__list {
      margin: 1.5em 0;
      // padding: 1em 0;
      // background-color: rgba(0,0,0,.1);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__item {
      padding: 0 8px;

      a {
        svg {
          color: $color-white;
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  &__logo {
    width: 200px;
    margin: auto;
    @include mq-target(sm) {
      width: 320px;
    }
  }

  &__copy {
    color: $color-white;
    margin-top: 10px;
    font-size: 12px;
  }

  &__pageTop {
    position: fixed;
    z-index: 200;
    right: 20px;
    bottom: 20px;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    display: none;
    @include mq-target(sm) {
      display: block;
      right: 12px;
      bottom: 12px;
    }
    
    @include mq-target(md) {
      right: 40px;
      bottom: 20px;
    }

    &.is-active {
      opacity: 1;
      visibility: visible;
    }

    a {
      display: block;
      width: 62px;
      height: 62px;
      border-radius: 6px;
      border: 1px solid $color-bg;
      background: rgba($color: #fff, $alpha: 0.65);
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        color: $color-bg;
        width: 28px;
        height: 28px;
      }
    }

    // transform: scale(-1);
  }

}



