@use "../foundation"as *;

.is-lock {
  position: static;
    overflow: hidden;
    top: 0;

}

.l-header {
  position: relative;
  z-index: 3;
  width: 100%;
  margin-top: 0 !important;
  // box-shadow: 0 5px 10px -5px rgba(143,167,179,.6);

  // margin-bottom: 30px;
  // background-image: url(../../assets/images/hed_bg.jpg);
  // background-size: contain;
  // background: rgba($color: #000, $alpha: 0.65);

  // &:hover a {
  //   transition: all 0.2s ease-out;
  //   opacity: 0.75;
  // }

  max-width: 1200px;
  margin: auto;
  @include mq-target(sm) {
    width: 98vw;
  }

  &__inner {
    margin-top: 0 !important;
    position: relative;

    border-top: none;

        position: relative;
        height: 100%;


      margin: 0 auto;
      padding: 12px;
      @include mq-target(sm) {
        padding: 10px 12px 12px 42px;
        // width: 98vw;
        // padding: 8px 0 6px;
        // padding: 8px 60px;
        // height: 84px;
      }
      @include mq-target(sm) {

        // width: 100%;
      }
  }

  &__top {
    // display: none;
    justify-content: space-between;
    // align-items: flex-end;
    display: none;
    @include mq-target(sm) {
      display: flex;
    }
  }

  &__container {
    // padding-top: 4px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    // align-items: center;
    @include mq-target(sm) {
      flex-wrap: initial;
      height: 48px;
    }
  }

  &__txt {
    // width: 100%;
    // text-align: center;
    font-size: 10px;
    color: $color-key;
    @include mq-target(sm) {
      text-align: left;
      font-size: 12px;
    }
  }

  &__right {
    width: 100%;
    text-align: center;
    @include mq-target(sm) {
      flex: 1;
      display: flex;
      margin-right: auto;
      align-items: flex-end;

    }
  }
  
  &__left {
    position: relative;
    z-index: 2;
    width: 100%;
    @include mq-target(sm) {
      flex: 1;
      // width: 400px;
    }
  }

  &-menu {
    &__list {
      position: relative;
      z-index: 2;
      display: flex;
    }

    &__item {
      min-width: 80px;
      max-width: 80px;
      padding: 0 4px;
      // height: 100%;
      line-height: 1;
      &:not(:last-child) {
        border-right: $color-border-waku;
      }

      &:last-child {
        padding-right: 0;
      }

      a {
        // font-weight: bold;
        color: $color-key;
        svg {
          height: 24px;
          width: auto;
        }

        span {
          font-size: 12px;
          display: block;
          padding-top: 4px;
        }
      }
    }
  }

  &__logo {
    // @include absCenter;
    // margin-top: 14px;
    // width: min(vwpc(190px),280px);
    position: relative;
    z-index: 600;
    // top: 12px;
    // left: 12px;
    @include mq-target(sm) {
      margin-right: 24px;
      margin-bottom: 4px;
    }
    a {
      font-weight: bold;
      // @include absCenter;
      font-size: 28px;
      // font-weight: bold;
      // font-style: italic;
      color: $color-font;
      // display: flex;
      margin: 0 auto 14px;
      display: block;
      line-height: 1;
      width: 90%;
      @include mq-target(sm) {
        margin: 0;
        width: 300px;
      }
      span {
        position: relative;
        // top: 4px;
        font-size: 10px;
        // color: $color-bg;
        @include mq-target(sm) {
          font-size: 12px;
        }
      }
    }
  }

  &__sns {
    margin-left: 40px;
    a {
      color: $color-white;
    }
  }

  &__wrap {
    &--pc {
      position: relative;
      @include flexCenter;
      z-index: 5;
      display: none;
      @include mq-target(sm) {
        display: block;
      }
    }

    &--sp {
      display: block;
      @include mq-target(sm) {
        display: none;
      }
    }
  }


  &-nav {
    &__list {
      @include flex($align:center);
    }
    &__item {
      margin-left: vw(14px, 769);
      font-size: vw(7px, 769);
      font-weight: 700;
    }
  }
}




.search-form {
  // display: -webkit-flex;
  // display: flex;
  // -webkit-box-align: center;
  // -webkit-align-items: center;
  // -ms-flex-align: center;
  // align-items: center;
  position: relative;
  height: 100%
}

.search-form .btn-action-global-search {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.search-area[type=search] {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  padding: 0 40px 0 20px;
  border: 1px solid #ddd;
  // border-radius: 18px;
  background: #fff;
  box-sizing: border-box;
  outline: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  line-height: 30px;
  height: 30px;
  @include mq-target(sm) {
    line-height: 36px;
    height: 36px;
  }
}

.search-area[type=search]:focus {
  border-color: #67a6e6;
  outline: 0;
  color: $color-font;
  box-shadow: 0 1px 1px rgba(0,0,0,.075) inset,0 0 8px rgba(103,166,230,.6)
}

.attribution {
  margin-top: 6px;
  font-size: 12px;
  color: $color-font;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.attribution a {
  color: $color-font
}

.attribution a:hover {
  color: #17a1e6
}

.btn-action-search {
  height: 30px;
  line-height: 28px;
  // font-size: 1.3rem;
  font-size: 12px;
  @include mq-target(sm) {
    font-size: 14px;
    height: 32px;
    line-height: 30px;
  }
}

.btn-action-search::before {
  margin-right: 6px;
  font-size: 12px;
  font-size: 1.8rem
}

.btn-action-global-search {
  min-width: initial;
  box-shadow: initial;
  display: inline-block;
  height: 26px;
  line-height: 24px;
  font-size: 12px;
  width: 30px;
  @include mq-target(sm) {
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    width: 30px;

  }

  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: 0;
    text-align: center;
  }
}

.btn-action-global-search::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: 0;
  text-align: center;
  color: $color-font;
  font-size: 2.6rem
}

.btn-action-share-xxl::before,.btn-action-share::before {
  content: "";
  top: 0;
  left: 0
}

.btn-action-global-search:hover::before {
  color: #17a1e6
}

.btn {
  text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
  display: block;
  max-width: 600px;
  // padding: 0 8px;
  border: 1px solid #fff;
  // border-radius: 4px;
  // box-shadow: 0 1px 1px rgba(0,0,0,.05);
  background: transparent;
  color: $color-key;
  // line-height: 30px;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.l-drawer {
  &__trigger {
    position: relative;
    z-index: 999999;
    position: absolute;
    top: 8px;
    right: 4vw;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-left: 2.666666666666667vw;
    @include flex($align:center, $justify:center);

    .-line {
      display: block;
      background: $color-font;
      height: 1px;
      position: relative;
      z-index: 999;
      transition: 0.1s background-color cubic-bezier(0.32, 0, 0.67, 0);
      width: 100%;

      &::before,
      &::after {
        content: '';
        display: block;
        @include absolute($left:0);
        background: $color-font;
        height: 100%;
        width: 100%;
        transition: 0.2s all cubic-bezier(0.12, 0, 0.39, 0);
      }

      &::before {
        top: -8px;
      }

      &::after {
        top: 8px;
      }
    }

    &.is-active {
      .-line {
        background: transparent;

        &::before {
          top: 0;
          background: $color-white;
          transform: rotate(45deg);
        }

        &::after {
          top: 0;
          background: $color-white;
          transform: rotate(-45deg);
        }
      }
    }
  }


  &__content {
    background: #1b1b1b;
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    -webkit-transition: all .3s cubic-bezier(.68,-.55,.265,1.55);
    transition: all .3s cubic-bezier(.68,-.55,.265,1.55);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    flex-direction: column;
    pointer-events: none;
    &.is-active {
      opacity: 1;
      // transform: scale(1, 1);
      pointer-events: initial;
    }
  }

  &__wrap {
    width: 100%;
  }

  &__logo {
    width: min(700px, 100%);
    margin: auto;
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: 0;
    @include flexCenter;
    &--menu {

    }
  }

  &__item {
    // padding: 4px 0;
    width: 100%;
    background: #1b1b1b;

    span {
      color: $color-white;
      font-size: 18px;
      display: block;
    }


    a,
    button {
      // text-align: left;
      display: block;
      width: 100%;
      font-weight: 500;
      line-height: 1.7;
      text-transform: uppercase;

      .-en {
        display: block;
        letter-spacing: 0.1em;

        display: none;
      }

      .-ja {
        display: block;
        font-size: 18px;
      }
    }
  }

  &__drop {
    position: relative;
    padding: 0;
    text-align: left;
  }

  &__body {
    width: 56%;
    @include flex($align:center);
    padding-left: 5%;

  }
}