@use "../foundation"as *;

.l-header {
  width: 100%;
  // position: fixed;
  // top: 0;
  // left: 0;
  // background: linear-gradient(to right bottom, rgba(34, 33, 33, 0.99), rgba(2, 2, 3, 0.99));    
  // width: 100%;
  z-index: 9999;
  // height: 64px;
  // filter: drop-shadow(0 0 0.1115vw rgb(0, 0, 0));
  // @include mq-target(sm) {
  //   height: auto;
  //   // padding: 6.266666666666667vw 5.333333333333334vw 0;
  //   position: relative;
  //   padding: vw(10px, 769) vw(60px, 769) 0;
  //   display: block;
  // }
  // border: 2px solid #1c1e22;
  // height: min(12.267vw,9.1rem);
  padding: 10px;
  @include mq-target(sm) {
    padding: 14px 0;
    // height: 84px;
  }

  margin-bottom: 40px;
  border-bottom: 2px solid #1c1e22;
  background: rgba($color: #1b1b1b, $alpha: 0.55);
  // background: rgba($color: #000, $alpha: 0.65);
      &__inner {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      //   height: 64px;
      //   position: relative;
      //   @include flex($align:center, $justify:center);
      // width: 96vw;
      width: 96vw;
      margin: 0 auto;
      @include mq-target(sm) {
        max-width: 1010px;
      }
  }

  &__logo {
    // margin-top: 14px;
    width: min(vwpc(190px),280px);
    position: relative;
    z-index: 600;
    // top: 12px;
    // left: 12px;
    a {
      // @include absCenter;
      font-size: 28px;
      color: $color-white;
      display: flex;
      width: min(vwpc(120px),160px);

      img {
        // width: min(21.333vw,16rem);
      }
    }
  }

  &__sns {
    margin-left: 40px;
    a {
      color: $color-white;
    }
  }

  &__wrap {
    &--pc {
      position: relative;
      @include flexCenter;
      z-index: 5;
      display: none;
      @include mq-target(sm) {
        display: block;
      }
    }

    &--sp {
      display: block;
      @include mq-target(sm) {
        display: none;
      }
    }
  }


  &-nav {
    &__list {
      @include flex($align:center);
    }
    &__item {
      margin-left: vw(14px, 769);
      font-size: vw(7px, 769);
      font-weight: 700;
    }
  }
}




