<% let pageId = 'system'; %>
<% let filePath = jsonData.pages[pageId].filePath %>
<%- include('./../_inc/_header', { pageId: pageId }) %>
<div class="section__bg"></div>
<main class="l-main">


    <div class="l-content">

        <div class="l-content__inner">

            <section class="single">
    
                <div class="single__head">

                    <div class="c-pagePath">
                        <ul>
                            <li><a href="/">ホーム</a></li>
                            <li><a href="">ニュース</a></li>
                        </ul>
                    </div>
                    <div class="single-head__inner">
                        <div class="single-head__bg" style="background-image: url(../../assets/images/ogp.webp);">
                            <div class="single-head__cover">
                                <div class="single-head__top">
                                    <h1 class="c-sec__ttl single-head__ttl">
                                        <span class="-en">
                                            「パラノマサイト」ポップアップストア「超常ストア IN 錦糸町マルイ」がオープン！
                                        </span>
                                    </h1>
                                    <figure class="single__head__img">
                                            <img src="../assets/images/ogp.webp" alt="">
                                    </figure>
                                </div>
                                <div class="single-head__desc single-head__date">
                                    <div class="c-cont__time single-head__time">
                                        <svg class="i-clock">
                                            <use xlink:href="../assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>2023年9月14日 14:00</time>
                                    </div>
                                    <ul class="c-tab__list">
                                        <li class="c-tab__item p-news-tab__item">
                                            <a href="">
                                                <span>ニュース</span>
                                            </a>
                                        </li>
                                        <li class="c-tab__item p-news-tab__item">
                                            <a href="">
                                                <span>エンタメ</span>
                                            </a>
                                        </li>
                                        <li class="c-tab__item p-news-tab__item">
                                            <a href="">
                                                <span>炎上系</span>
                                            </a>
                                        </li>
                                        <li class="c-tab__item p-news-tab__item">
                                            <a href="">
                                                <span>イベント</span>
                                            </a>
                                        </li>
                                        <li class="c-tab__item p-news-tab__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="c-sec__inner single__inner">

                    <!-- <div class="single__header">
                        <p>2023.06.30</p>
                        <ul class="single__tag">
                            <li>キャンペーン</li>
                        </ul>
                    </div>
                    <h1 class="c-sec__ttl single__ttl">
                        <span class="-en">
                            「パラノマサイト」ポップアップストア「超常ストア in 錦糸町マルイ」がオープン！TV画面に入って案内人と撮影ができるフォトスポットも
                        </span>
                    </h1> -->

                    <div class="single__entry">

                        <p>
                            セガ歴代ゲーム機より、「セガ マスターシステム」「メガドライブ」「セガサターン」「ドリームキャスト」がラインナップ。それぞれがデザインされたTシャツ、パーカーなどのアパレルに加え、バッグやステッカーなどのグッズが登場している。
                        </p>

                        <img src="../assets/images/single.webp" alt="">
                        <div class="col-sm-2">
                            <img src="../assets/images/single1.jpg" alt="">
                            <img src="../assets/images/single2.jpg" alt="">
                            <img src="../assets/images/single3.jpg" alt="">
                            <img src="../assets/images/single1.jpg" alt="">
                        </div>

                        <h2>ドット絵アクリルチャーム</h2>
                        <p>
                            発売日：2023年11月中旬予定<br>
                            サイズ：S/M/L/XL<br>
                            素材：綿100％<br>
                            価格：3,300円（税込）
                        </p>
                        <div class="col-sm-2">
                            <img src="../assets/images/3.jpg" alt="">
                            <img src="../assets/images/4.jpg" alt="">
                        </div>

                    </div>
                </div>

            </section>
            <section class="l-side l-side__scroll  u-dp-pc">

                <div class="c-sec__inner l-side__inner l-side__inner--scroll">
                    <div class="c-sec__header">
                        <a href="#">
                            <h2 class="c-sec__ttl">
                                <span class="-en">RANKING</span>
                                <span class="-ja">週間人気記事</span>
                            </h2>
                            <svg class="i-next">
                                <use xlink:href="../assets/images/sprite.svg#nextpage"></use>
                            </svg>
                        </a>
                    </div>

                    <!-- <ul class="c-tab__list">
                        <li class="c-tab__item l-side-tab__item js-tab--trigger is-active" data-tab="tab-content01">
                            <span>現在</span>
                        </li>
                        <li class="c-tab__item l-side-tab__item js-tab--trigger" data-tab="tab-content02">
                            <span>週間</span>
                        </li>
                        <li class="c-tab__item l-side-tab__item js-tab--trigger" data-tab="tab-content02">
                            <span>月間</span>
                        </li>
                    </ul> -->
                    <ul class="l-side__list l-side__list--scroll">
                        <li class="c-cont__item l-side__item">
                            <div class="p-news-cont__head l-side__rank">
                                <a href="/system" class="c-cont__link">
                                    <figure class="c-picture__img l-side__img">
                                        <picture>
                                            <img src="../assets/images/ogp3.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot l-side-cont__bot">
                                <a href="/system">
                                    <h3 class="c-cont__ttl l-side-cont__ttl" style="font-size: 12px;">
                                        ドイツ発スリープテック・ブランド　エマ・スリープ全国の企業を対象にエマブランドの製品を提供するコラボ企画を開始～2023年9月14日（木）から応募受付開始～
                                    </h3>
                                </a>
                            </div>

                        </li>
                        <li class="c-cont__item l-side__item">
                            <div class="p-news-cont__head l-side__rank">
                                <a href="/system" class="c-cont__link">
                                    <figure class="c-picture__img l-side__img">
                                        <picture>
                                            <img src="../assets/images/ogp4.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot l-side-cont__bot">
                                <a href="/system">
                                    <h3 class="c-cont__ttl l-side-cont__ttl" style="font-size: 12px;">
                                        ワーナー ブラザース100周年記念 この秋は、渋谷にワーナー・ブラザース人気キャラクターが集合！トムとジェリー、トゥイーティーたちがSHIBUYA109渋谷店とコラボレーション！
                                    </h3>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item l-side__item">
                            <div class="p-news-cont__head l-side__rank">
                                <a href="/system" class="c-cont__link">
                                    <figure class="c-picture__img l-side__img">
                                        <picture>
                                            <img src="../assets/images/ogp.webp" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot l-side-cont__bot">
                                <a href="/system">
                                    <h3 class="c-cont__ttl l-side-cont__ttl" style="font-size: 12px;">
                                        塚田農場は日本相撲協会と年間契約を締結し2023年10月1日より飲食業界で初のオフィシャルスポンサーとして活動
                                    </h3>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item l-side__item">
                            <div class="p-news-cont__head l-side__rank">
                                <a href="/system" class="c-cont__link">
                                    <figure class="c-picture__img l-side__img">
                                        <picture>
                                            <img src="../assets/images/evnt1.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot l-side-cont__bot">
                                <a href="/system">
                                    <h3 class="c-cont__ttl l-side-cont__ttl" style="font-size: 12px;">
                                        ハートマーケット プロデュースベイシア限定販売の婦人服ブランド「＆H」好評につき9月20日（水）よりベイシア61店舗で拡大展開スタート
                                    </h3>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item l-side__item">
                            <div class="p-news-cont__head l-side__rank">
                                <a href="/system" class="c-cont__link">
                                    <figure class="c-picture__img l-side__img">
                                        <picture>
                                            <img src="../assets/images/evnt3.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot l-side-cont__bot">
                                <a href="/system">
                                    <h3 class="c-cont__ttl l-side-cont__ttl" style="font-size: 12px;">
                                        SLY（スライ）2023年秋冬シーズンを通して展開するアーティストとのコラボレーションプロジェクト第二弾 GIDDRA STUDIOとのコラボレーションアイテムを発売
                                    </h3>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item l-side__item">
                            <div class="p-news-cont__head l-side__rank">
                                <a href="/system" class="c-cont__link">
                                    <figure class="c-picture__img l-side__img">
                                        <picture>
                                            <img src="../assets/images/cpn1.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot l-side-cont__bot">
                                <a href="/system">
                                    <h3 class="c-cont__ttl l-side-cont__ttl" style="font-size: 12px;">
                                        ドイツ発スリープテック・ブランド　エマ・スリープ全国の企業を対象にエマブランドの製品を提供するコラボ企画を開始～2023年9月14日（木）から応募受付開始～
                                    </h3>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item l-side__item">
                            <div class="p-news-cont__head l-side__rank">
                                <a href="/system" class="c-cont__link">
                                    <figure class="c-picture__img l-side__img">
                                        <picture>
                                            <img src="../assets/images/cpn2.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot l-side-cont__bot">
                                <a href="/system">
                                    <h3 class="c-cont__ttl l-side-cont__ttl" style="font-size: 12px;">
                                        ワーナー ブラザース100周年記念 この秋は、渋谷にワーナー・ブラザース人気キャラクターが集合！トムとジェリー、トゥイーティーたちがSHIBUYA109渋谷店とコラボレーション！
                                    </h3>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item l-side__item">
                            <div class="p-news-cont__head l-side__rank">
                                <a href="/system" class="c-cont__link">
                                    <figure class="c-picture__img l-side__img">
                                        <picture>
                                            <img src="../assets/images/cpn3.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot l-side-cont__bot">
                                <a href="/system">
                                    <h3 class="c-cont__ttl l-side-cont__ttl" style="font-size: 12px;">
                                        塚田農場は日本相撲協会と年間契約を締結し2023年10月1日より飲食業界で初のオフィシャルスポンサーとして活動
                                    </h3>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item l-side__item">
                            <div class="p-news-cont__head l-side__rank">
                                <a href="/system" class="c-cont__link">
                                    <figure class="c-picture__img l-side__img">
                                        <picture>
                                            <img src="../assets/images/single1.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot l-side-cont__bot">
                                <a href="/system">
                                    <h3 class="c-cont__ttl l-side-cont__ttl" style="font-size: 12px;">
                                        ハートマーケット プロデュースベイシア限定販売の婦人服ブランド「＆H」好評につき9月20日（水）よりベイシア61店舗で拡大展開スタート
                                    </h3>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item l-side__item">
                            <div class="p-news-cont__head l-side__rank">
                                <a href="/system" class="c-cont__link">
                                    <figure class="c-picture__img l-side__img">
                                        <picture>
                                            <img src="../assets/images/single2.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot l-side-cont__bot">
                                <a href="/system">
                                    <h3 class="c-cont__ttl l-side-cont__ttl" style="font-size: 12px;">
                                        SLY（スライ）2023年秋冬シーズンを通して展開するアーティストとのコラボレーションプロジェクト第二弾 GIDDRA STUDIOとのコラボレーションアイテムを発売
                                    </h3>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

        </div>


    </div>

</main>



<%- include('./../_inc/_footer', { pageId: pageId }) %>