@use "../foundation"as *;



.single {
    @include mq-target(md) {
        // width: min(vwpc(510px), 660px);
        width: min(vwpc(542px), 722px);
    }

    &-head {
        &__inner {
            border-right: $color-border-waku;
            border-left: $color-border-waku;
        }

        &__bg {
            position: relative;
            z-index: 0;
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            &::before {
                content: '';
                background: inherit;
                filter: blur(5px);
                position: absolute;
                top: -5px;
                left: -5px;
                right: -5px;
                bottom: -5px;
                z-index: -1;
            }
        }

        &__cover { background: rgba(0, 0, 0, 0.55); }

        &__top {
            color: $color-font;
            @include flex($justify:space-between);
            padding: min(vwsp(12px), 24px) min(vwsp(10px), 20px) min(vwsp(12px), 24px);
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
            @include mq-target(md) {
                padding: 20px 25px 10px;
            }
        }

        &__ttl {
            font-family: Arial, Helvetica, sans-serif;
            @include mq-target(md) {
                flex-grow: 1;
                margin-right: 15px;
                width: 76.42857%;
            }
            & .-en {
                line-height: 1.4;
                font-weight: 900;
                opacity: 1;
                background: none;
                color: $color-font;
                filter: drop-shadow(1px 1px 1px #000);
                font-size: min(vwsp(18px), 22px);
                @include mq-target(sm) {
                    font-size: 28px;
                }
                @include mq-target(md) {
                    font-size: min(vwpc(22px), 28px);
                }
            }
        }

        &__time {
            margin-bottom: 6px;
        }
    }


    &__inner {
        position: relative;
        background: #fff;
        padding: min(vwsp(16px), 30px) min(vwsp(10px), 20px);
        @include mq-target(sm) {
            padding: 24px 24px 24px 16px;
        }

        @include mq-target(md) {
            padding: min(vwpc(10px), 20px) min(vwpc(12px), 24px) min(vwpc(30px), 50px);
            padding-bottom: 60px;
        }

    }

    &-head {
        &__date {
            color: $color-font;
            padding: 0 min(vwsp(10px), 20px) min(vwsp(12px), 24px);
            @include mq-target(md) {
                padding: 0 25px 10px;
            }
        }
    }

    &__head {
        // background: #000;
        &__ttl {

        }

        &__img {
            display: none;
            @include mq-target(md) {
                width: 21.42857%;
                max-width: 150px;
                display: block;
            }

            img {
                border: 1px solid $color-white;
            }
        }

        &-cont {
            display: block;
            border-right: $color-border-waku;
            border-left: $color-border-waku;
            &__cover {

            }

            &__bg {

            }
        }
    }

    &__tag {
        color: $color-red;
        font-weight: 900;
        margin-left: 10px;
    }

    &__img {
        padding: 0;
        filter: drop-shadow(0 0 8px rgba(38, 99, 213, 0.25));


        &::after {
            content: "";
            opacity: 0;
        }
    }

    &__ttl {

    }
}


.single__entry {
    word-break: break-all;
    // font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #000;
}

.single__entry h2 {
    position: relative;
    font-family: "teko";
    background-image: linear-gradient(to bottom, #fd1e00, #dc1b6f);
    -webkit-background-clip: text;
    color: transparent;
    margin: 48px 0 8px;
    padding-bottom: 4px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        opacity: 0.65;
        background: $color-red;
    }
}

.single__entry h3 {
    font-family: "teko";
    font-size: min(vwpc(16px), 24px);
    letter-spacing: .08em;
    line-height: 1.5;
    border-left: 1px solid #000;
    margin: 48px 0 8px;
    padding-bottom: 4px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to bottom, #fd1e00, #dc1b6f);
        -webkit-background-clip: text;
        color: transparent;
    }
}

.single__entry div span {
    
    @include mq-target(sm) {
        font-size: 18px;
    }
    
    @include mq-target(md) {
        font-size: min(vwpc(14px), 16px);
    }
}
.single__entry div {
    
    @include mq-target(sm) {
        font-size: 18px;
    }
    
    @include mq-target(md) {
        font-size: min(vwpc(14px), 16px);
    }
}

.single__entry p {
    margin-bottom: 24px;
    letter-spacing: 0.07em;
    font-size: min(vwsp(14px), 16px);

    @include mq-target(sm) {
        font-size: 16px;
    }

    @include mq-target(md) {
        font-size: min(vwpc(14px), 16px);
    }
}

.single__entry img {
    margin-bottom: 1%;
}


.single__entry a {
    color: maroon;
    text-decoration: none;
    // text-decoration: underline
}

html.notouch .single__entry a:hover {
    text-decoration: none
}

.single__entry .d-btn {
    position: relative;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.4rem;
    line-height: 1;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100% 1px;
    background-image: linear-gradient(#000, #000);
    padding: 0 2.6rem .9rem 0;
    margin: 4rem 0 0
}

.single__entry .d-btn:before {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    background: #000;
    border-radius: 50%;
    z-index: -1;
    margin: auto 0
}

.single__entry .d-btn:after {
    position: absolute;
    top: .4rem;
    right: .4rem;
    display: block;
    content: "";
    width: .8rem;
    height: .8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../imgs/common/arw-white_r.svg);
    margin: auto 0
}