@use "../foundation"as *;

.p-news {

    &__inner {
        background: #1b1b1b;
        position: relative;
        @include mq-target(sm) {
            background: #fff;
        }

        &::before {
            content: "";
            @include absAll;
            // background-image: repeating-linear-gradient(-45deg,transparent,transparent 15px,rgba(0, 0, 0, 0.015) 15px,rgba(0, 0, 0, 0.015) 30px);
        }
    }

    &-tab {
        &__list { justify-content: space-between; }

        &__item {
            // margin: 0 8px 0 0;
            width: auto;
        }
    }

    &__item {
    }

    &__head {
        // width: 100%;
        // position: absolute;
        // right: 0;
        // width: 120px;
        width: min(vwsp(80px),180px);
        // display: none;
        // width: min(vwsp(90px),150px);
        @include mq-target(sm) {
            position: relative;
            width: min(vwtb(230px), 290px);
            // width: calc((200/716)*100%);
        }
        
        @include mq-target(md) {
            width: min(vwpc(180px), 230px);
            // width: 200px;
        }
    }

    &__foot {
        // margin: 4px 0;
        position: relative;
        // z-index: 2;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding: 0 0 0 8px;

        // margin-left: 10px;
        @include mq-target(sm) {
            flex-direction: column;
            padding: 0 0 0 12px;
            // margin-left: 16px;
        }

        @include mq-target(md) {
            padding: 0 0 0 min(vwpc(10px),14px);
            // margin-left: 12px;
        }

    }

    &__btn {
        // padding: 4px;
    }

    &-cont {

        &__tag {
            @include mq-target(sm) {
                margin-left: 12px;
            }
        }

        &__img {
            overflow: hidden;
            outline: 0;
            aspect-ratio: auto 260 / 240;
            border-radius: 6px;
            
            @include mq-target(sm) {
                border-radius: 0px;
                outline: 1px solid #ccc;
                aspect-ratio: 16 / 9;

            }
        }

        &__head {}

        &__mid {
            margin-top: 3px;
            margin-bottom: auto;
            @include mq-target(sm) {
                margin-top: 4px;
            }
            @include mq-target(md) {
                margin-top: min(vwpc(4px),6px);
            }
        }

        &__foot {
            // padding-top: 8px
            @include flex($align:center);

            @include mq-target(sm) {}
        }

        &__tag {
            padding-right: 12px;
        }

        &__ttl {
            flex: 1;
            // font-weight: normal;
            line-height: 1.4;
            // letter-spacing: 0.04em;
            font-size: min(vwsp(13px), 18px);
            @include lineclamp(3);
            color: $color-white;
            @include mq-target(sm) {
                line-height: 1.3;
                // font-weight: bold;
                @include lineclamp(4);
                font-size: min(vwtb(16px), 18px);
                color: $color-link;
                text-shadow: initial;
            }

            @include mq-target(md) {
                // line-height: 1.3;
                // @include lineclamp(3);
                font-size: min(vwpc(15px), 18px);
            }
            
            @include mq-target(lg) {
            }
        }

        &__txt {
            line-height: 1.2;
            font-size: 12px;
            color: $color-key;
            padding-top: 4px;
            display: none;

            @include mq-target(sm) {
                // @include lineclamp(3);
            }
        }
    }
}