@use "../foundation"as *;


.section__bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/charaBg_sp.jpg);
    // background-color: #0ae;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // filter: blur(2px);

    &::before {
        content: "";
        @include absAll;
        display: block;
        z-index: 110;
        // background: rgba(15, 23, 30, 0.45);
        // background-image: repeating-linear-gradient(45deg,transparent,transparent 40px,rgba(255, 255, 255, 0.3) 40px,rgba(255, 255, 255, 0.3) 60px);
        z-index: 0;
      }

    @include mq-target(md) {
        background-image: url(../../assets/images/charaBg_04.jpg);
    }
}

.p-news {
    @include mq-target(md) {
        width: min(vwpc(688px), 738px);
    }

    &-tab {
        &__list {
            // margin: 0 1vw;
            display: flex;
            overflow-x: scroll;
            padding-bottom: 14px;
            justify-content: initial;
            @include mq-target(sm) {
                padding-bottom: 10px;
            }
            @include mq-target(md) {
                overflow: initial;
            }
        }

        &__item {
            display: inline-block;
            margin: 0 8px 0 0;
            width: auto;
            a {
                span {
                    white-space: nowrap;
                    // font-weight: 900;
                    font-size: 12px;
                    // font-size: min(vwsp(12px), 14px);
                    background: $color-red;
                    display: inline-block;
                    padding: 1px 8px 3px;
                    color: $color-white;
                    // background: #000;
                    // background: linear-gradient(transparent 40%, rgba(187, 16, 36, 0.95) 0%);
                    
                    @include mq-target(sm) {
                        padding: 3px 10px 3px;
                        // font-size: 16px;
                        font-size: 12px;
                    }
                    
                    @include mq-target(md) {
                        // font-size: min(vwpc(12px), 14px);
                        font-size: 12px;
                    }
                }
            }
        }
    }

    &__inner {
        border-right: $color-border-waku;
        // border-right:none;
        // clip-path: polygon(32px 0%, 100% 0, 100% calc(100% - 32px), calc(100% - 32px) 100%, 0 100%, 0 32px);

        // background-color: rgb(247, 247, 249);
        // background: #fff;
        // padding: 4px;
        // background: url(../images/sectionBg.jpeg) repeat center;
        // background-size: 110% 110%;
        padding-bottom: 0;


        @include mq-target(md) {
            // padding: 6px;
            // padding: 24px 1vw;
        }
    }

    &__list {
        // padding: 0 1vw;
    }

    &__item {
        margin-top: 0;
        position: relative;
        padding: 10px 0;
        @include mq-target(sm) {
            padding: 12px 0;
        }

        &:first-child {
            border-top: none;
            padding-top: 10px;
            @include mq-target(sm) {
                padding-top: 12px;
            }
        }

        &:hover a {
            transition: all .1s ease-in-out;
            opacity: 0.75;
        }

        &--inner {
            display: flex;
        }
    }

    &-cont {
        &__top {
            width: 100%;
            width: min(vwsp(90px),150px);
            @include mq-target(sm) {
                width: 240px;
            }

            @include mq-target(md) {
                width: min(vwpc(260px),270px);
                width: 260px;
            }
        }

        &__bot {
            position: relative;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            padding: 0 0 0 10px;
            // margin-left: 10px;
            @include mq-target(sm) {
                padding: 0 6px 0 10px;
                // margin-left: 16px;
            }
            @include mq-target(md) {
                // margin-left: 12px;
            }

        }

        &__img {
            overflow: hidden;
            border-radius: 4px;
            // border: 2px solid #2a2a2a;
            @include mq(sm) {
                overflow: hidden;
                aspect-ratio: auto 260 / 220;
                // padding-top: 80%;
            }
            @include mq-target(md) {
                // padding-top: 56.46875%;
            }

        }

        &__ttl {
            line-height: 1.4;
            // margin-top: 4px;
            @include lineclamp(3);
            font-size: 14px;
            // font-size: 16px;
            // font-size: 14px;
            // font-size: min(vwsp(12px), 14px);
            @include mq-target(sm) {
                font-size: 16px;
            }

            @include mq-target(md) {
                font-size: min(vwpc(15px), 16px);
                font-size: 16px;
            }
        }

        &__txt {
            font-size: 12px;
            color: $color-key;
            line-height: 1.4;
            padding-top: 4px;
            display: none;
            @include mq-target(sm) {
                @include lineclamp(3);
            }
        }

        &__data {
            padding-top: 8px;
            align-items: center;
            @include flex($align:flex-end, $justify:space-between);
            @include mq-target(sm) {
            }
        }
    }

    &__btn {
        padding: 12px 0;
        @include mq-target(sm) {
            padding: 20px 25px;
        }
    }
}