@use "../foundation" as *;


.section__bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/charaBg_sp.jpg);
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(4px);
    
    @include mq-target(sm) {
        background-image: url(../../assets/images/charaBg_04.jpg);
    }
}

.p-news {
    margin-top: 40px;
    // width: 90vw;
    // padding-left: 1.4vw;
    @include mq-target(sm) {
        width: min(vwpc(520px), 780px);
        margin: 0;
    }
    &__inner {
    }

    &__list {
        margin-top: -20px;
        @include mq-target(sm) {
            margin-top: -16px;
        }
    }

    &__item {
        // min-height: min(vwsp(130px),180px);
        // min-height: 180px;
        position: relative;
        // padding-top: 9.3333333333vw;
        display: flex;
        @include mq-target(sm) {
            // min-height: min(vwpc(140px),180px);
        }

        &:hover .p-news-cont__head {
            transition: all 0.2s ease;
            filter: drop-shadow(0 0 12px rgba(38, 99, 213, 0.25));
        }

    }

    &-cont {
        &__head {
            width: 100%;
            width: min(vwsp(140px), 200px);
            @include mq-target(sm) {
                width: 250px;
                // width: min(vwpc(230px), 240px);
            }
        }
    
        &__bot {
            position: relative;
            text-align: left;
            flex: 1;
            margin-left: min(vwsp(8px),16px);
            @include mq-target(sm) {
                margin-left: min(3.0208333333vw, 16px);
            }
        }
    }

    &__ttl {
        font-size: min(vwsp(14px),16px);
        margin-top: 2px;
        @include mq-target(sm) {
            // margin-top: 8px;
            margin-top: 4px;
            // margin-top: min(vwpc(2px),4px);
            font-size: min(vwpc(14px),18px);
        }
    }
}