@use "../foundation"as *;




.p-rank {
    &-tab {
        &__list {
            position: relative;
            text-align: center;
            justify-content: space-between;
            // margin-top: 16px;
        }

        &__item {
            cursor: pointer;
            width: 32%;
            background: silver;
            box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;

            span {
                font-size: 12px;
                display: block;
                padding: 2px 0;
                width: 100%;
                color: $color-font;
                @include mq-target(md) {
                    font-size: min(vwpc(11px),12px);
                }
            }
        }
    }

    &__inner {
        padding: 0;
    }

    &__header {
        padding-left: 0;
    }

    &__item {
        // width: 49%;
        padding: 2px;
        margin-bottom: 0;
        &:nth-of-type(1) {
            width: 100%;
            & .p-rank-cont__img {
                // aspect-ratio: 16 / 7;
            }
        }

        &::after {
            width: 0;
        }

        &:hover {
            transition: opacity .2s ease;
            opacity: 0.75;
        }
    }

    &-slider {
        width: 100%;
        margin: auto;
        overflow: visible;

        &__inner {
            padding: 10px 14px 10px 10px;
        }

        &__container {
            overflow: visible;
        }

        &__item {
            width: 100%;
            margin: auto;
            margin-right: 8px;
            @include mq-target(sm) {
                margin-right: 6px;
            }
    
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &-foot {
        position: relative;
        flex: 1;
        &__link {
            display: block;

            padding: 4px 0 0;
            padding: 8px 4px 8px 10px;
            background: rgba($color: #000000, $alpha: 0.85);
            // background: linear-gradient(180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.658) 20%,#000 80%);
            position: absolute;
            bottom: 0;
            width: 100%;
            box-sizing: border-box;
            margin-left: 0;
            @include mq-target(md) {
                padding: 4px min(vwpc(4px),4px) 4px min(vwpc(6px),8px);
            }
            h3 {
                line-height: 1.3;
                font-weight: 700;
                // filter: drop-shadow(1px 1px 1px #1b1b1b);
                color: $color-white;
                -webkit-line-clamp: 3;
                @include mq-target(md) {
                    // font-size: 12px;
                    font-size: min(vwpc(11px),12px);
                    // -webkit-line-clamp: 4;
                }
            }
        }
    }

}


.p-prof {

    &__inner {
        padding: min(vwpc(4px),6px);
        overflow: hidden;
        position: relative;
        background: url(../../assets/images/kumosora32.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }


    &__img {
        position: relative;
        // width: 40px;
        min-width: none;
        height: 40px;
        opacity: 0;
        // margin: -10px auto;
        z-index: 1;
        @include mq-target(md) {
            // width: min(vwpc(60px),70px);
        }
    }

    &-body {
        &__txt {
            // font-family: $line-r;
            // margin-top: -46px;
            z-index: 2;
            position: relative;
            padding: 8px 2px 4px min(vwpc(4px),6px);
            width: 100%;
            text-align: left;
            // font-size: 14px;
            font-weight: bold;
            font-size:  min(vwpc(10px),12px);
            color: $color-font;
            background-color: rgba($color: #fff, $alpha: 0.95);
            border: 2px solid $color-bg;


            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                left: 20px;
                top: -15px;
                border-right: 15px solid transparent;
                border-bottom: 15px solid $color-bg;
                border-left: 15px solid transparent;
            }

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                left: 20px;
                top: -12px;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #fff;
                border-left: 15px solid transparent;
            }
        }

        &__img {
            width: 450px;
        }
    }
}

.twitter {
    transform: scale(0.85);
    /* サイズの拡大縮小の基準位置を決めるcss */
    transform-origin: left top;
}