@use "../foundation"as *;


.p-rank {


    &__inner {

        position: relative;
        // padding-top: 14px;
        // padding: 12px 16px;
        margin-bottom: 0;
        // padding: 14px;
        
    }

    &-tab {
        &__item {
            cursor: pointer;
            width: 33%;

            span {
                color: #9e9e9e;
            }
        }
    }

    &__item {
        counter-increment: rank;
        position: relative;
        overflow: hidden;
        margin: 8px 0 0;
        padding: 0 0 8px;
        &:first-child {
            padding-top: 8px;
        }



        &:hover {
            transition: opacity .2s ease;
            opacity: 0.75;
          }

        &:first-child {
            border-top: none;
        }

        & .p-rank__count {

            &::before,
            &::after {
                content: "";
                position: absolute;
            }

            &::before {
                display: block;
                border-radius: 6px;
                background: rgba($color: #dc0610, $alpha: 0.85);
                filter: drop-shadow(0 0 4px rgba(254, 233, 46, .25));
                width: 100%;
                height: 30px;
                transform: rotate(-45deg);
                left: -50%;
                top: 0;
                z-index: 1;
            }

            &::after {
                font-style: italic;
                content: counter(rank);
                color: #fff;
                font-size: 12px;
                line-height: initial;
                width: 1.4em;
                left: .2em;
                top: .3em;
                z-index: 2;
            }
        }
    }

    &__count {
        position: relative;
        width: 100%;
        overflow: hidden;
        // border-radius: 8px;
    }

    &-cont {
        &__img {
            // border: 1px solid #2a2a2a;
            // border: 0.1125vw solid #040404;
            // padding: 36.25% 0 0;
            // padding-top: 60.25%;
            aspect-ratio: auto 260 / 168;

        }
    }

    &-foot {
        position: relative;
        flex: 1;
        &__link {
            display: block;

            padding: min(vwpc(6px),8px);
            background: linear-gradient(180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.758) 20%,#000 100%);
            position: absolute;
            bottom: 0;
            width: 100%;
            box-sizing: border-box;
            margin-left: 0;
            h3 {
                font-weight: 600;
                font-size: min(vwpc(12px),14px);
                line-height: 1.5;
                -webkit-line-clamp: 3;
                filter: drop-shadow(1px 1px 1px #1b1b1b);
                color: #fff;
            }
        }

        &__data {
            // position: absolute;
            // top: 0;
            // right: 0;
            // opacity: 0.9;
            margin: 6px 0 0;
            display: flex;
            justify-content: space-between;
            display: none;

            & .c-cont-tag__list {
                margin: 0;
            }
        }
    }

    &__btn {
        padding: 12px 0 0;
    }
}


.p-prof {

    &__inner {
        border-top: $color-border-waku;
        border-bottom: $color-border-waku;
        background: url(../../assets/images/charaBg_04.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        // padding: 0 0 10px 0;
        // padding: 0;

        &::before {
            content: "";
            background: url(../../assets/images/kiritan.png);
            background-size: 200px auto;
            background-position: 100px -40px; 
            background-repeat: no-repeat;
        }
    }
    &-body {
        // padding: 10;
        min-height: 210px;
        @include flex($align:center);

        &__txt {
            border-radius: 4px;
            background: rgba($color: #000000, $alpha: 0.85);
            padding: 8px 4px 8px 14px;
            position: absolute;
            bottom: 0;
            line-height: 1.5;
            left: 0;
            width: 100%;
            text-align: left;
            font-size: 13px;
        }

        &__img {
            width: 450px;
        }
    }
}

.twitter {
    transform: scale(0.85);
    /* サイズの拡大縮小の基準位置を決めるcss */
    transform-origin: left top;
}