<% let pageId = 'home'; %>
<% let filePath = jsonData.pages[pageId].filePath %>
<%- include('./_inc/_header', { pageId: pageId }) %>



<div class="section__bg"></div>


<main class="l-main">


    <div class="l-content">

        <div class="p-fea__bg u-dp-sp">
            <section class="p-featre">
                <div class="p-fea__header">
                    <h2 class="c-sec__ttl">
                        <span class="-en">RANKING</span>
                        <span class="-ja">ランキング</span>
                    </h2>
                </div>

                <div class="p-fea__inner">
                    <div class="p-fea-slider">

                        <!-- <div class="p-fea-slider__btn">
                            <div class="p-fea-slider__btnPrev js-slider-btnPrev"></div>
                            <div class="p-fea-slider__btnNext js-slider-btnNext"></div>
                        </div> -->
                        <div class="swiper p-fea-slider__container js-index-slider">
                            <ul class="swiper-wrapper p-fea-slider__wrap">

                                <li class="swiper-slide p-fea-slider__slide">
                                    <a href="#" class="inview p-fea-content__link">
                                        <figure class="c-picture__img p-fea-content__img">
                                            <picture>
                                                <img src="./assets/images/ogp.jpg" alt="サムネイル">
                                            </picture>
                                        </figure>
                                    </a>
                                    <div class="p-fea-content__cap">
                                        <ul class="p-fea-content__labels">
                                            <li class="date">2022.01.02</li>
                                        </ul>
                                        <a href="#">
                                            <h3 class="c-cont__ttl p-news__ttl p-fea-content__ttl">
                                                “怪異をメスで解剖”ゲーム『青十字病院 東京都支部 怪異解剖部署』正式お披露目。事件の真実を暴くため、“都市伝説”の肉体を切り開く
                                            </h3>
                                        </a>
                                        <ul class="p-fea-content__labels">
                                            <li class="info">キャンペーン</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="swiper-slide p-fea-slider__slide">
                                    <a href="#" class="inview p-fea-content__link">
                                        <figure class="c-picture__img p-fea-content__img">
                                            <picture>
                                                <img src="./assets/images/ogp2.jpg" alt="サムネイル">
                                            </picture>
                                        </figure>
                                    </a>
                                    <div class="p-fea-content__cap">
                                        <ul class="p-fea-content__labels">
                                            <li class="date">2022.01.02</li>
                                        </ul>
                                        <a href="#">
                                            <h3 class="c-cont__ttl p-news__ttl p-fea-content__ttl">
                                                “怪異をメスで解剖”ゲーム『青十字病院 東京都支部 怪異解剖部署』正式お披露目。事件の真実を暴くため、“都市伝説”の肉体を切り開く
                                            </h3>
                                        </a>
                                        <ul class="p-fea-content__labels">
                                            <li class="info">キャンペーン</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="swiper-slide p-fea-slider__slide">
                                    <a href="#" class="inview p-fea-content__link">
                                        <figure class="c-picture__img p-fea-content__img">
                                            <picture>
                                                <img src="./assets/images/ogp.jpg" alt="サムネイル">
                                            </picture>
                                        </figure>
                                    </a>
                                    <div class="p-fea-content__cap">
                                        <ul class="p-fea-content__labels">
                                            <li class="date">2022.01.02</li>
                                        </ul>
                                        <a href="#">
                                            <h3 class="c-cont__ttl p-news__ttl p-fea-content__ttl">
                                                “怪異をメスで解剖”ゲーム『青十字病院 東京都支部 怪異解剖部署』正式お披露目。事件の真実を暴くため、“都市伝説”の肉体を切り開く
                                            </h3>
                                        </a>
                                        <ul class="p-fea-content__labels">
                                            <li class="info">キャンペーン</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="swiper-slide p-fea-slider__slide">
                                    <a href="#" class="inview p-fea-content__link">
                                        <figure class="c-picture__img p-fea-content__img">
                                            <picture>
                                                <img src="./assets/images/ogp2.jpg" alt="サムネイル">
                                            </picture>
                                        </figure>
                                    </a>
                                    <div class="p-fea-content__cap">
                                        <ul class="p-fea-content__labels">
                                            <li class="date">2022.01.02</li>
                                        </ul>
                                        <a href="#">
                                            <h3 class="c-cont__ttl p-news__ttl p-fea-content__ttl">
                                                “怪異をメスで解剖”ゲーム『青十字病院 東京都支部 怪異解剖部署』正式お披露目。事件の真実を暴くため、“都市伝説”の肉体を切り開く
                                            </h3>
                                        </a>
                                        <ul class="p-fea-content__labels">
                                            <li class="info">キャンペーン</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="swiper-slide p-fea-slider__slide">
                                    <a href="#" class="inview p-fea-content__link">
                                        <figure class="c-picture__img p-fea-content__img">
                                            <picture>
                                                <img src="./assets/images/ogp.jpg" alt="サムネイル">
                                            </picture>
                                        </figure>
                                    </a>
                                    <div class="p-fea-content__cap">
                                        <ul class="p-fea-content__labels">
                                            <li class="date">2022.01.02</li>
                                        </ul>
                                        <a href="#">
                                            <h3 class="c-cont__ttl p-news__ttl p-fea-content__ttl">
                                                “怪異をメスで解剖”ゲーム『青十字病院 東京都支部 怪異解剖部署』正式お披露目。事件の真実を暴くため、“都市伝説”の肉体を切り開く
                                            </h3>
                                        </a>
                                        <ul class="p-fea-content__labels">
                                            <li class="info">キャンペーン</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="swiper-slide p-fea-slider__slide">
                                    <a href="#" class="inview p-fea-content__link">
                                        <figure class="c-picture__img p-fea-content__img">
                                            <picture>
                                                <img src="./assets/images/ogp2.jpg" alt="サムネイル">
                                            </picture>
                                        </figure>
                                    </a>
                                    <div class="p-fea-content__cap">
                                        <ul class="p-fea-content__labels">
                                            <li class="date">2022.01.02</li>
                                        </ul>
                                        <a href="#">
                                            <h3 class="c-cont__ttl p-news__ttl p-fea-content__ttl">
                                                “怪異をメスで解剖”ゲーム『青十字病院 東京都支部 怪異解剖部署』正式お披露目。事件の真実を暴くため、“都市伝説”の肉体を切り開く
                                            </h3>
                                        </a>
                                        <ul class="p-fea-content__labels">
                                            <li class="info">キャンペーン</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>

            </section>
        </div>

        <div class="l-content__inner">


            <section class="p-news">
                <div class="c-sec__header" style="text-align: left;">
                    <h2 class="c-sec__ttl">
                        <span class="-en">NEWS</span>
                        <span class="-ja">最新記事</span>
                    </h2>
                </div>
                <div class="c-sec__inner p-news__inner">
                    <ul class="p-news__list">
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">

                                <a href="/system" class="c-cont__link">
                                    <figure class="c-picture__img">
                                        <picture>
                                            <img src="./assets/images/ogp3.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <ul class="c-cont-tag__list">
                                    <li class="c-cont-tag__item">
                                        <a href="">
                                            <span>キャンペーン</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="/system">
                                    <h3 class="c-cont__ttl p-news__ttl">
                                        【TGSVR2023】加賀美ハヤト、闇ノシュウ、おめがシスターズが公式アンバサダーに就任。クエスト機能やステージエリアの実施などさまざまな情報が公開
                                    </h3>
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img">
                                        <picture>
                                            <img src="./assets/images/ogp.webp" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <ul class="c-cont-tag__list">
                                    <li class="c-cont-tag__item">
                                        <a href="">
                                            <span>イベント</span>
                                        </a>
                                    </li>
                                    <li class="c-cont-tag__item">
                                        <a href="">
                                            <span>グッズ</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#">
                                    <h3 class="c-cont__ttl p-news__ttl">
                                        “怪異をメスで解剖”ゲーム『青十字病院 東京都支部 怪異解剖部署』正式お披露目。事件の真実を暴くため、“都市伝説”の肉体を切り開く
                                    </h3>
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img">
                                        <picture>
                                            <img src="./assets/images/ogp2.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <ul class="c-cont-tag__list">
                                    <li class="c-cont-tag__item">
                                        <a href="">
                                            <span>イベント</span>
                                        </a>
                                    </li>
                                    <li class="c-cont-tag__item">
                                        <a href="">
                                            <span>グッズ</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#">
                                    <h3 class="c-cont__ttl p-news__ttl">
                                        “怪異をメスで解剖”ゲーム『青十字病院 東京都支部 怪異解剖部署』正式お披露目。事件の真実を暴くため、“都市伝説”の肉体を切り開く
                                    </h3>
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img">
                                        <picture>
                                            <img src="./assets/images/ogp.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <ul class="c-cont-tag__list">
                                    <li class="c-cont-tag__item">
                                        <a href="">
                                            <span>イベント</span>
                                        </a>
                                    </li>
                                    <li class="c-cont-tag__item">
                                        <a href="">
                                            <span>グッズ</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#">
                                    <h3 class="c-cont__ttl p-news__ttl">
                                        “怪異をメスで解剖”ゲーム『青十字病院 東京都支部 怪異解剖部署』正式お披露目。事件の真実を暴くため、“都市伝説”の肉体を切り開く
                                    </h3>
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img">
                                        <picture>
                                            <img src="./assets/images/evnt1.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <ul class="c-cont-tag__list">
                                    <li class="c-cont-tag__item">
                                        <a href="">
                                            <span>イベント</span>
                                        </a>
                                    </li>
                                    <li class="c-cont-tag__item">
                                        <a href="">
                                            <span>グッズ</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#">
                                    <h3 class="c-cont__ttl p-news__ttl">
                                        “怪異をメスで解剖”ゲーム『青十字病院 東京都支部 怪異解剖部署』正式お披露目。事件の真実を暴くため、“都市伝説”の肉体を切り開く
                                    </h3>
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img">
                                        <picture>
                                            <img src="./assets/images/evnt2.png" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <ul class="c-cont-tag__list">
                                    <li class="c-cont-tag__item">
                                        <a href="">
                                            <span>イベント</span>
                                        </a>
                                    </li>
                                    <li class="c-cont-tag__item">
                                        <a href="">
                                            <span>グッズ</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#">
                                    <h3 class="c-cont__ttl p-news__ttl">
                                        “怪異をメスで解剖”ゲーム『青十字病院 東京都支部 怪異解剖部署』正式お披露目。事件の真実を暴くため、“都市伝説”の肉体を切り開く
                                    </h3>
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img">
                                        <picture>
                                            <img src="./assets/images/cpn1.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <ul class="c-cont-tag__list">
                                    <li class="c-cont-tag__item">
                                        <a href="">
                                            <span>イベント</span>
                                        </a>
                                    </li>
                                    <li class="c-cont-tag__item">
                                        <a href="">
                                            <span>グッズ</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#">
                                    <h3 class="c-cont__ttl p-news__ttl">
                                        “怪異をメスで解剖”ゲーム『青十字病院 東京都支部 怪異解剖部署』正式お披露目。事件の真実を暴くため、“都市伝説”の肉体を切り開く
                                    </h3>
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img">
                                        <picture>
                                            <img src="./assets/images/cpn2.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <ul class="c-cont-tag__list">
                                    <li class="c-cont-tag__item">
                                        <a href="">
                                            <span>イベント</span>
                                        </a>
                                    </li>
                                    <li class="c-cont-tag__item">
                                        <a href="">
                                            <span>グッズ</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#">
                                    <h3 class="c-cont__ttl p-news__ttl">
                                        “怪異をメスで解剖”ゲーム『青十字病院 東京都支部 怪異解剖部署』正式お披露目。事件の真実を暴くため、“都市伝説”の肉体を切り開く
                                    </h3>
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>
            </section>
            <section class="l-side u-dp-pc">
                <div class="c-sec__header">
                    <a href="#">
                        <h2 class="c-sec__ttl">
                            <span class="-en">RANKING</span>
                            <span class="-ja">人気記事</span>
                        </h2>
                        <svg class="i-next">
                            <use xlink:href="./assets/images/sprite.svg#nextpage"></use>
                        </svg>
                    </a>
                </div>
                <div class="c-sec__inner l-side__inner">

                    <ul class="l-side__list">
                        <li class="c-cont__item l-side__item l-side__rank">
                            <a href="" class="c-cont__link l-side__link">
                                <figure class="c-picture__img">
                                    <picture>
                                        <img src="./assets/images/cpn1.jpg" alt="">
                                    </picture>
                                </figure>
                            </a>

                            <div class="l-side-cont__bot">
                                <a href="#">
                                    <h3 class="c-cont__ttl l-side-cont__ttl">
                                        コミックシーモアの70%OFFクーポンでおトクに漫画を読む！ 「コミックシーモア」では、漫画を1巻70%OFFで読むことができます。                                    </h3>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item l-side__item l-side__rank">
                            <a href="" class="c-cont__link l-side__link">
                                <figure class="c-picture__img l-side__img">
                                    <picture>
                                        <img src="./assets/images/cpn2.jpg" alt="">
                                    </picture>
                                </figure>
                            </a>

                            <div class="l-side-cont__bot">
                                <a href="#">
                                    <h3 class="c-cont__ttl l-side-cont__ttl">
                                        『TikTok Lite』（ティックトックライト）をダウンロード、新規会員登録で5000円プレゼント
                                    </h3>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item l-side__item l-side__rank">
                            <a href="" class="c-cont__link l-side__link">
                                <figure class="c-picture__img">
                                    <picture>
                                        <img src="./assets/images/cpn3.jpg" alt="">
                                    </picture>
                                </figure>
                            </a>

                            <div class="l-side-cont__bot">
                                <a href="#">
                                    <h3 class="c-cont__ttl l-side-cont__ttl">
                                        Amazonブラックフライデー2023開催中
                                    </h3>
                                </a>
                            </div>
                        </li>

                    </ul>

                </div>
                <div class="c-sec__header" style="margin-top: 30px;">
                    <a href="#">
                        <h2 class="c-sec__ttl">
                            <span class="-en">REPORT</span>
                            <span class="-ja">現地確認</span>
                        </h2>
                        <svg class="i-next">
                            <use xlink:href="./assets/images/sprite.svg#nextpage"></use>
                        </svg>
                    </a>
                </div>
                <div class="c-sec__inner l-side__inner">

                    <ul class="l-side__list">
                        <li class="c-cont__item l-side__item">
                            <a href="" class="c-cont__link l-side__link">
                                <figure class="c-picture__img">
                                    <picture>
                                        <img src="../assets/images/single4.jpg" alt="">
                                    </picture>
                                </figure>
                            </a>

                            <div class="l-side-cont__bot">
                                <a href="#">
                                    <h3 class="c-cont__ttl l-side-cont__ttl">
                                        会員登録後すぐに使える70%OFFクーポン配布中
                                    </h3>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item l-side__item">
                            <a href="" class="c-cont__link l-side__link">
                                <figure class="c-picture__img l-side__img">
                                    <picture>
                                        <img src="../assets/images/single1.jpg" alt="">
                                    </picture>
                                </figure>
                            </a>

                            <div class="l-side-cont__bot">
                                <a href="#">
                                    <h3 class="c-cont__ttl l-side-cont__ttl">
                                        『TikTok Lite』（ティックトックライト）をダウンロード、新規会員登録で5000円プレゼント
                                    </h3>
                                </a>
                            </div>
                        </li>
                        <li class="c-cont__item l-side__item">
                            <a href="" class="c-cont__link l-side__link">
                                <figure class="c-picture__img">
                                    <picture>
                                        <img src="../assets/images/single2.jpg" alt="">
                                    </picture>
                                </figure>
                            </a>

                            <div class="l-side-cont__bot">
                                <a href="#">
                                    <h3 class="c-cont__ttl l-side-cont__ttl">
                                        Amazonブラックフライデー2023開催中
                                    </h3>
                                </a>
                            </div>
                        </li>

                    </ul>

                </div>
            </section>
        </div>
    </div>

</main>

<%- include('./_inc/_footer', { pageId: pageId }) %>