<% let pageId = 'home'; %>
<% let filePath = jsonData.pages[pageId].filePath %>
<%- include('./_inc/_header', { pageId: pageId }) %>





<div class="section__bg"></div>
<main class="l-main">
    <div class="l-content">
        <div class="l-content__inner">
            <section class="p-fea u-dp-sp">
                <div class="c-sec__header">
                    <a href="#">
                        <h2 class="c-sec__ttl">
                            <span class="-en">RANKING</span>
                            <!-- <span class="-ja">人気記事</span> -->
                        </h2>
                        <svg class="i-next">
                            <use xlink:href="./assets/images/sprite.svg#nextpage"></use>
                        </svg>
                    </a>
                </div>
                <div class="c-sec__inner">
                    <ul class="c-tab__list">
                        <li class="c-tab__item l-side-tab__item js-tab--trigger is-active" data-tab="tab-content01">
                            <span>現在</span>
                        </li>
                        <li class="c-tab__item l-side-tab__item js-tab--trigger" data-tab="tab-content02">
                            <span>週間</span>
                        </li>
                        <li class="c-tab__item l-side-tab__item js-tab--trigger" data-tab="tab-content02">
                            <span>月間</span>
                        </li>
                    </ul>
            
                <div class="p-fea-slider">
            
                    <div class="p-fea-slider__btn">
                        <div class="p-fea-slider__btnPrev js-slider-btnPrev"></div>
                        <div class="p-fea-slider__btnNext js-slider-btnNext"></div>
                    </div>
                    <div class="swiper p-fea-slider__container js-index-slider">
                        <ul class="swiper-wrapper p-fea-slider__wrap">
                            <li class="swiper-slide p-fea-slider__slide">
                                <ul class="p-news__list">
                                    <li class="c-cont__item p-news__item">
                                        <div class="p-news-cont__head l-side__rank">
                                            <span>1</span>
                                            <a href="/system" class="c-cont__link">
                                                <figure class="c-picture__img p-news-cont__img">
                                                    <picture>
                                                        <img src="./assets/images/ogp.webp" alt="">
                                                    </picture>
                                                </figure>
                                            </a>
                                        </div>
                                        <div class="p-news-cont__bot">
                                            <div class="p-news-cont__desc">
            
                                                <a href="">
                                                    <h3 class="c-cont__ttl p-news__ttl">
                                                        「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                                        DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                                    </h3>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="c-cont__item p-news__item">
                                        <div class="p-news-cont__head l-side__rank">
                                            <span>2</span>
                                            <a href="/system" class="c-cont__link">
                                                <figure class="c-picture__img p-news-cont__img">
                                                    <picture>
                                                        <img src="./assets/images/ogp.webp" alt="">
                                                    </picture>
                                                </figure>
                                            </a>
                                        </div>
                                        <div class="p-news-cont__bot">
                                            <div class="p-news-cont__desc">
            
                                                <a href="">
                                                    <h3 class="c-cont__ttl p-news__ttl">
                                                        「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                                        DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                                    </h3>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="c-cont__item p-news__item">
                                        <div class="p-news-cont__head l-side__rank">
                                            <span>3</span>
                                            <a href="/system" class="c-cont__link">
                                                <figure class="c-picture__img p-news-cont__img">
                                                    <picture>
                                                        <img src="./assets/images/ogp.webp" alt="">
                                                    </picture>
                                                </figure>
                                            </a>
                                        </div>
                                        <div class="p-news-cont__bot">
                                            <div class="p-news-cont__desc">
            
                                                <a href="">
                                                    <h3 class="c-cont__ttl p-news__ttl">
                                                        「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                                        DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                                    </h3>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="swiper-slide p-fea-slider__slide">
                                <ul class="p-news__list">
                                    <li class="c-cont__item p-news__item">
                                        <div class="p-news-cont__head">
                                            <a href="/system" class="c-cont__link">
                                                <figure class="c-picture__img p-news-cont__img">
                                                    <picture>
                                                        <img src="./assets/images/ogp.webp" alt="">
                                                    </picture>
                                                </figure>
                                            </a>
                                        </div>
                                        <div class="p-news-cont__bot">
                                            <div class="p-news-cont__desc">
            
                                                <a href="">
                                                    <h3 class="c-cont__ttl p-news__ttl">
                                                        「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                                        DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                                    </h3>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="c-cont__item p-news__item">
                                        <div class="p-news-cont__head">
                                            <a href="/system" class="c-cont__link">
                                                <figure class="c-picture__img p-news-cont__img">
                                                    <picture>
                                                        <img src="./assets/images/ogp.webp" alt="">
                                                    </picture>
                                                </figure>
                                            </a>
                                        </div>
                                        <div class="p-news-cont__bot">
                                            <div class="p-news-cont__desc">
            
                                                <a href="">
                                                    <h3 class="c-cont__ttl p-news__ttl">
                                                        「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                                        DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                                    </h3>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="c-cont__item p-news__item">
                                        <div class="p-news-cont__head">
                                            <a href="/system" class="c-cont__link">
                                                <figure class="c-picture__img p-news-cont__img">
                                                    <picture>
                                                        <img src="./assets/images/ogp.webp" alt="">
                                                    </picture>
                                                </figure>
                                            </a>
                                        </div>
                                        <div class="p-news-cont__bot">
                                            <div class="p-news-cont__desc">
            
                                                <a href="">
                                                    <h3 class="c-cont__ttl p-news__ttl">
                                                        「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                                        DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                                    </h3>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="swiper-slide p-fea-slider__slide">
                                <ul class="p-news__list">
                                    <li class="c-cont__item p-news__item">
                                        <div class="p-news-cont__head">
                                            <a href="/system" class="c-cont__link">
                                                <figure class="c-picture__img p-news-cont__img">
                                                    <picture>
                                                        <img src="./assets/images/ogp.webp" alt="">
                                                    </picture>
                                                </figure>
                                            </a>
                                        </div>
                                        <div class="p-news-cont__bot">
                                            <div class="p-news-cont__desc">
            
                                                <a href="">
                                                    <h3 class="c-cont__ttl p-news__ttl">
                                                        「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                                        DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                                    </h3>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="c-cont__item p-news__item">
                                        <div class="p-news-cont__head">
                                            <a href="/system" class="c-cont__link">
                                                <figure class="c-picture__img p-news-cont__img">
                                                    <picture>
                                                        <img src="./assets/images/ogp.webp" alt="">
                                                    </picture>
                                                </figure>
                                            </a>
                                        </div>
                                        <div class="p-news-cont__bot">
                                            <div class="p-news-cont__desc">
            
                                                <a href="">
                                                    <h3 class="c-cont__ttl p-news__ttl">
                                                        「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                                        DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                                    </h3>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="c-cont__item p-news__item">
                                        <div class="p-news-cont__head">
                                            <a href="/system" class="c-cont__link">
                                                <figure class="c-picture__img p-news-cont__img">
                                                    <picture>
                                                        <img src="./assets/images/ogp.webp" alt="">
                                                    </picture>
                                                </figure>
                                            </a>
                                        </div>
                                        <div class="p-news-cont__bot">
                                            <div class="p-news-cont__desc">
            
                                                <a href="">
                                                    <h3 class="c-cont__ttl p-news__ttl">
                                                        「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                                        DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                                    </h3>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </section>
            <section class="l-side u-dp-pc">
                <div class="c-sec__header">
                    <a href="#">
                        <h2 class="c-sec__ttl">
                            <span class="-en">PICKUP</span>
                            <!-- <span class="-ja">オススメ</span> -->
                        </h2>
                        <!-- <svg class="i-next">
                            <use xlink:href="./assets/images/sprite.svg#nextpage"></use>
                        </svg> -->
                    </a>
                </div>
                <div class="c-sec__inner l-side__inner l-side__inner--scroll" style="padding: 0;">
                    <img src="./assets/images/goods1.jpg" alt="">
                </div>
                <div class="c-sec__header">
                    <a href="#">
                        <h2 class="c-sec__ttl">
                            <span class="-en">PICKUP</span>
                            <!-- <span class="-ja"></span> -->
                        </h2>
                        <svg class="i-next">
                            <use xlink:href="./assets/images/sprite.svg#nextpage"></use>
                        </svg>
                    </a>
                </div>
                <div class="c-sec__inner l-side__inner l-side__inner--scroll">
<!-- 
                    <ul class="c-tab__list">
                        <li class="c-tab__item l-side-tab__item js-tab--trigger is-active" data-tab="tab-content01">
                            <span>現在</span>
                        </li>
                        <li class="c-tab__item l-side-tab__item js-tab--trigger" data-tab="tab-content02">
                            <span>週間</span>
                        </li>
                        <li class="c-tab__item l-side-tab__item js-tab--trigger" data-tab="tab-content02">
                            <span>月間</span>
                        </li>
                    </ul> -->

                    <div class="l-side-tab__content">
                        <ul class="l-side__list l-side__list--scroll">

                            <li class="c-cont__item l-side__item l-side__item--left">
                                <div class="p-news-cont__head">
                                    <a href="/system" class="c-cont__link">
                                        <figure class="c-picture__img">
                                            <picture>
                                                <img src="./assets/images/cpn1.jpg" alt="">
                                            </picture>
                                        </figure>
                                    </a>
                                </div>
                                <div class="p-news-cont__bot l-side-cont__bot">
                                    <a href="/system">
                                        <h3 class="c-cont__ttl l-side-cont__ttl">
                                            ドイツ発スリープテック・ブランド　エマ・スリープ全国の企業を対象にエマブランドの製品を提供するコラボ企画を開始～2023年9月14日（木）から応募受付開始～
                                        </h3>
                                    </a>
                                </div>
                            </li>
                            <li class="c-cont__item l-side__item">
                                <div class="p-news-cont__head">
                                    <a href="/system" class="c-cont__link">
                                        <figure class="c-picture__img">
                                            <picture>
                                                <img src="./assets/images/cpn2.jpg" alt="">
                                            </picture>
                                        </figure>
                                    </a>
                                </div>
                                <div class="p-news-cont__bot l-side-cont__bot">
                                    <a href="/system">
                                        <h3 class="c-cont__ttl l-side-cont__ttl">
                                            ワーナー ブラザース100周年記念
                                            この秋は、渋谷にワーナー・ブラザース人気キャラクターが集合！トムとジェリー、トゥイーティーたちがSHIBUYA109渋谷店とコラボレーション！
                                        </h3>
                                    </a>
                                </div>
                            </li>
                            <li class="c-cont__item l-side__item">
                                <div class="p-news-cont__head">
                                    <a href="/system" class="c-cont__link">
                                        <figure class="c-picture__img">
                                            <picture>
                                                <img src="./assets/images/cpn3.jpg" alt="">
                                            </picture>
                                        </figure>
                                    </a>
                                </div>
                                <div class="p-news-cont__bot l-side-cont__bot">
                                    <a href="/system">
                                        <h3 class="c-cont__ttl l-side-cont__ttl">
                                            塚田農場は日本相撲協会と年間契約を締結し2023年10月1日より飲食業界で初のオフィシャルスポンサーとして活動
                                        </h3>
                                    </a>
                                </div>
                            </li>
                            <li class="c-cont__item l-side__item">
                                <div class="p-news-cont__head">
                                    <a href="/system" class="c-cont__link">
                                        <figure class="c-picture__img">
                                            <picture>
                                                <img src="./assets/images/single1.jpg" alt="">
                                            </picture>
                                        </figure>
                                    </a>
                                </div>
                                <div class="p-news-cont__bot l-side-cont__bot">
                                    <a href="/system">
                                        <h3 class="c-cont__ttl l-side-cont__ttl">
                                            ハートマーケット プロデュースベイシア限定販売の婦人服ブランド「＆H」好評につき9月20日（水）よりベイシア61店舗で拡大展開スタート
                                        </h3>
                                    </a>
                                </div>
                            </li>
                            <li class="c-cont__item l-side__item">
                                <div class="p-news-cont__head">
                                    <a href="/system" class="c-cont__link">
                                        <figure class="c-picture__img">
                                            <picture>
                                                <img src="./assets/images/single2.jpg" alt="">
                                            </picture>
                                        </figure>
                                    </a>
                                </div>
                                <div class="p-news-cont__bot l-side-cont__bot">
                                    <a href="/system">
                                        <h3 class="c-cont__ttl l-side-cont__ttl">
                                            SLY（スライ）2023年秋冬シーズンを通して展開するアーティストとのコラボレーションプロジェクト第二弾 GIDDRA
                                            STUDIOとのコラボレーションアイテムを発売
                                        </h3>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="p-news">
                <div class="c-sec__header p-news-head">
                    <a href="#">
                        <h2 class="c-sec__ttl">
                            <span class="-en">TOP&nbsp;NEWS</span>
                            <!-- <span class="-ja">最新記事</span> -->
                        </h2>
                        <svg class="i-next">
                            <use xlink:href="./assets/images/sprite.svg#nextpage"></use>
                        </svg>
                    </a>
                </div>
                <div class="c-sec__inner p-news__inner">
                    <ul class="c-tab__list p-news-tab__list">
                        <li class="c-tab__item p-news-tab__item">
                            <a href="">
                                <span>ニュース</span>
                            </a>
                        </li>
                        <li class="c-tab__item p-news-tab__item">
                            <a href="">
                                <span>エンタメ</span>
                            </a>
                        </li>
                        <li class="c-tab__item p-news-tab__item">
                            <a href="">
                                <span>炎上系</span>
                            </a>
                        </li>
                        <li class="c-tab__item p-news-tab__item">
                            <a href="">
                                <span>イベント</span>
                            </a>
                        </li>
                        <li class="c-tab__item p-news-tab__item">
                            <a href="">
                                <span>キャンペーン</span>
                            </a>
                        </li>
                        <li class="c-tab__item p-news-tab__item">
                            <a href="">
                                <span>キャンペーン</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="p-news__list">
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="/system" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/ogp.webp" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="/system">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                            DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="/system" class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/ogp3.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            巨大ロボゲー新作『メックウォーリア5：クランズ』PC/PS/Xbox向けに発表！空前のロボゲーブームに乗り遅れるな！！
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/ogp2.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                            DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/ogp4.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                            DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/evnt1.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                            DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/evnt2.png" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                            DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/game1.png" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                            DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/game2.webp" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                            DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="/system" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/ogp.webp" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                            DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/ogp3.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            巨大ロボゲー新作『メックウォーリア5：クランズ』PC/PS/Xbox向けに発表！空前のロボゲーブームに乗り遅れるな！！
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/ogp2.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                            DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/ogp4.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                            DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/evnt1.jpg" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                            DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/evnt2.png" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                            DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/game1.png" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                            DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news-cont__head">
                                <a href="#" class="c-cont__link">
                                    <figure class="c-picture__img p-news-cont__img">
                                        <picture>
                                            <img src="./assets/images/game2.webp" alt="">
                                        </picture>
                                    </figure>
                                </a>
                            </div>
                            <div class="p-news-cont__bot">
                                <div class="p-news-cont__desc">

                                    <a href="">
                                        <h3 class="c-cont__ttl p-news__ttl">
                                            「アイドルマスター シンデレラガールズ」Shout out Live!!!
                                            DAY1の発表内容を紹介！「デレステ」8周年記念広告やTVアニメ「U149」BD全巻購入特典など
                                        </h3>
                                    </a>
                                </div>
                                <div class="p-news__foot">
                                    <div class="c-cont__time">
                                        <svg class="i-clock">
                                            <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                        </svg>
                                        <time>4時間前</time>
                                    </div>
                                    <ul class="c-cont-tag__list">
                                        <li class="c-cont-tag__item">
                                            <a href="">
                                                <span>キャンペーン</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="p-news__btn">
                                        <div class="">
                                        </div>
                                        <span>続きを読む</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="l-side l-side__scroll  u-dp-pc">
                <div class="c-sec__header">
                    <a href="#">
                        <h2 class="c-sec__ttl">
                            <span class="-en">RANKING</span>
                            <!-- <span class="-ja">人気記事</span> -->
                        </h2>
                        <svg class="i-next">
                            <use xlink:href="./assets/images/sprite.svg#nextpage"></use>
                        </svg>
                    </a>
                </div>
                <div class="c-sec__inner l-side__inner l-side__inner--scroll">

                    <ul class="c-tab__list">
                        <li class="c-tab__item l-side-tab__item js-tab--trigger is-active" data-tab="tab-content01">
                            <span>現在</span>
                        </li>
                        <li class="c-tab__item l-side-tab__item js-tab--trigger" data-tab="tab-content02">
                            <span>週間</span>
                        </li>
                        <li class="c-tab__item l-side-tab__item js-tab--trigger" data-tab="tab-content02">
                            <span>月間</span>
                        </li>
                    </ul>

                    <div class="l-side-tab__content">
                        <div id="tab-content01" class="p-about__box js-tab--content is-active">
                            <ul class="l-side__list l-side__list--scroll">
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side__rank">
                                        <a href="/system" class="c-cont__link">
                                            <figure class="c-picture__img l-side__img">
                                                <picture>
                                                    <img src="./assets/images/ogp3.jpg" alt="">
                                                </picture>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                ドイツ発スリープテック・ブランド　エマ・スリープ全国の企業を対象にエマブランドの製品を提供するコラボ企画を開始～2023年9月14日（木）から応募受付開始～
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="p-news__foot">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side__rank">
                                        <a href="/system" class="c-cont__link">
                                            <figure class="c-picture__img l-side__img">
                                                <picture>
                                                    <img src="./assets/images/ogp4.jpg" alt="">
                                                </picture>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                ワーナー ブラザース100周年記念
                                                この秋は、渋谷にワーナー・ブラザース人気キャラクターが集合！トムとジェリー、トゥイーティーたちがSHIBUYA109渋谷店とコラボレーション！
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="p-news__foot">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side__rank">
                                        <a href="/system" class="c-cont__link">
                                            <figure class="c-picture__img l-side__img">
                                                <picture>
                                                    <img src="./assets/images/ogp.webp" alt="">
                                                </picture>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                塚田農場は日本相撲協会と年間契約を締結し2023年10月1日より飲食業界で初のオフィシャルスポンサーとして活動
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="p-news__foot">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side__rank">
                                        <a href="/system" class="c-cont__link">
                                            <figure class="c-picture__img l-side__img">
                                                <picture>
                                                    <img src="./assets/images/evnt1.jpg" alt="">
                                                </picture>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                ハートマーケット プロデュースベイシア限定販売の婦人服ブランド「＆H」好評につき9月20日（水）よりベイシア61店舗で拡大展開スタート
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="p-news__foot">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side__rank">
                                        <a href="/system" class="c-cont__link">
                                            <figure class="c-picture__img l-side__img">
                                                <picture>
                                                    <img src="./assets/images/evnt3.jpg" alt="">
                                                </picture>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                SLY（スライ）2023年秋冬シーズンを通して展開するアーティストとのコラボレーションプロジェクト第二弾 GIDDRA
                                                STUDIOとのコラボレーションアイテムを発売
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="p-news__foot">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side__rank">
                                        <a href="/system" class="c-cont__link">
                                            <figure class="c-picture__img l-side__img">
                                                <picture>
                                                    <img src="./assets/images/cpn1.jpg" alt="">
                                                </picture>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                ドイツ発スリープテック・ブランド　エマ・スリープ全国の企業を対象にエマブランドの製品を提供するコラボ企画を開始～2023年9月14日（木）から応募受付開始～
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="p-news__foot">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side__rank">
                                        <a href="/system" class="c-cont__link">
                                            <figure class="c-picture__img l-side__img">
                                                <picture>
                                                    <img src="./assets/images/cpn2.jpg" alt="">
                                                </picture>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                ワーナー ブラザース100周年記念
                                                この秋は、渋谷にワーナー・ブラザース人気キャラクターが集合！トムとジェリー、トゥイーティーたちがSHIBUYA109渋谷店とコラボレーション！
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="p-news__foot">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side__rank">
                                        <a href="/system" class="c-cont__link">
                                            <figure class="c-picture__img l-side__img">
                                                <picture>
                                                    <img src="./assets/images/cpn3.jpg" alt="">
                                                </picture>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                塚田農場は日本相撲協会と年間契約を締結し2023年10月1日より飲食業界で初のオフィシャルスポンサーとして活動
                                            </h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side__rank">
                                        <a href="/system" class="c-cont__link">
                                            <figure class="c-picture__img l-side__img">
                                                <picture>
                                                    <img src="./assets/images/single1.jpg" alt="">
                                                </picture>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                ハートマーケット プロデュースベイシア限定販売の婦人服ブランド「＆H」好評につき9月20日（水）よりベイシア61店舗で拡大展開スタート
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="p-news__foot">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side__rank">
                                        <a href="/system" class="c-cont__link">
                                            <figure class="c-picture__img l-side__img">
                                                <picture>
                                                    <img src="./assets/images/single2.jpg" alt="">
                                                </picture>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                SLY（スライ）2023年秋冬シーズンを通して展開するアーティストとのコラボレーションプロジェクト第二弾 GIDDRA
                                                STUDIOとのコラボレーションアイテムを発売
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="p-news__foot">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div id="tab-content02" class="p-about__box js-tab--content">

                            <ul class="l-side__list l-side__list--scroll">
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side-cont__head">
                                        <a href="/system">
                                            1
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                オトメイトパーティー2023新発表・新作ゲームまとめ。『薄桜鬼』15周年記念PV、ヤクルトスワローズの選手と恋愛しリーグ優勝を目指す『マイナイン』ほか最新情報が公開
                                            </h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side-cont__head">
                                        <a href="/system">
                                            2
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                オトメイトパーティー2023新発表・新作ゲームまとめ。『薄桜鬼』15周年記念PV、ヤクルトスワローズの選手と恋愛しリーグ優勝を目指す『マイナイン』ほか最新情報が公開
                                            </h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side-cont__head">
                                        <a href="/system">
                                            3
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                オトメイトパーティー2023新発表・新作ゲームまとめ。『薄桜鬼』15周年記念PV、ヤクルトスワローズの選手と恋愛しリーグ優勝を目指す『マイナイン』ほか最新情報が公開
                                            </h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side-cont__head">
                                        <a href="/system">
                                            4
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                オトメイトパーティー2023新発表・新作ゲームまとめ。『薄桜鬼』15周年記念PV、ヤクルトスワローズの選手と恋愛しリーグ優勝を目指す『マイナイン』ほか最新情報が公開
                                            </h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side-cont__head">
                                        <a href="/system">
                                            5
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                オトメイトパーティー2023新発表・新作ゲームまとめ。『薄桜鬼』15周年記念PV、ヤクルトスワローズの選手と恋愛しリーグ優勝を目指す『マイナイン』ほか最新情報が公開
                                            </h3>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

</main>

<%- include('./_inc/_footer', { pageId: pageId }) %>