<% let pageId = 'home'; %>
<% let filePath = jsonData.pages[pageId].filePath %>
<%- include('./_inc/_header', { pageId: pageId }) %>

<!-- <div class="section__bg"></div> -->
<main class="l-main">
    <div class="l-content">

        <div class="l-content__inner">



            <section class="p-news">

                <div class="c-sec__inner p-news__inner">
                    <div class="p-pickup">
                    
                        <div class="p-pickup__inner">
                            <div class="c-sec__header p-news-head">
                                <a href="#">
                                    <h2 class="c-sec__ttl">
                                        <svg class="i-ttl">
                                            <use xlink:href="./assets/images/sprite.svg#i-news"></use>
                                        </svg>
                                        <span class="-en">現地レポート</span>
                                    </h2>
                                    <svg class="i-next">
                                        <use xlink:href="./assets/images/sprite.svg#nextpage"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="c-slider">
                                <div class="c-slider__btn">
                                    <div class="c-slider__btnPrev js-slider-btnPrev"></div>
                                    <div class="c-slider__btnNext js-slider-btnNext"></div>
                                </div>
                                <div class="swiper c-slider__container js-index-slider">
                                    <ul class="swiper-wrapper c-slider__wrap">    
                                        <li class="swiper-slide c-slider__slide c-cont-slider__slide p-pickuptop__item">
                                            
                                            <a href="#" class="inview p-pickup__link">
                                                <figure class="c-img p-pickup__img">
                                                    <img src="./assets/images/data01.jpg" alt="">
                                                </figure>
                                                <h3 class="p-pickup__ttl">
                                                    <span>
                                                        浅草カフェでオススメ‼️豪快に注いでくれるカフェラテが飲めるお店
                                                    </span>
                                                </h3>
                                            </a>
                                        </li>
                                        <li class="swiper-slide c-slider__slide c-cont-slider__slide p-pickuptop__item">
                                            
                                            <a href="#" class="inview p-pickup__link">
                                                <figure class="c-img p-pickup__img">
                                                    <img src="./assets/images/single1.jpg" alt="">
                                                </figure>
                                                <h3 class="p-pickup__ttl">
                                                    <span>
                                                        浅草カフェでオススメ‼️豪快に注いでくれるカフェラテが飲めるお店
                                                    </span>
                                                </h3>
                                            </a>
                                        </li>
                                        <li class="swiper-slide c-slider__slide c-cont-slider__slide p-pickuptop__item">
                                            
                                            <a href="#" class="inview p-pickup__link">
                                                <figure class="c-img p-pickup__img">
                                                    <img src="./assets/images/cafe01.jpg" alt="">
                                                </figure>
                                                <h3 class="p-pickup__ttl">
                                                    <span>
                                                        浅草カフェでオススメ‼️豪快に注いでくれるカフェラテが飲めるお店
                                                    </span>
                                                </h3>
                                            </a>
                                        </li>
                                        <li class="swiper-slide c-slider__slide c-cont-slider__slide p-pickuptop__item">
                                            
                                            <a href="#" class="inview p-pickup__link">
                                                <figure class="c-img p-pickup__img">
                                                    <img src="./assets/images/single3.jpg" alt="">
                                                </figure>
                                                <h3 class="p-pickup__ttl">
                                                    <span>
                                                        浅草カフェでオススメ‼️豪快に注いでくれるカフェラテが飲めるお店
                                                    </span>
                                                </h3>
                                            </a>
                                        </li>
                                        <li class="swiper-slide c-slider__slide c-cont-slider__slide p-pickuptop__item">
                                            
                                            <a href="#" class="inview p-pickup__link">
                                                <figure class="c-img p-pickup__img">
                                                    <img src="./assets/images/single3.jpg" alt="">
                                                </figure>
                                                <h3 class="p-pickup__ttl">
                                                    <span>
                                                        浅草カフェでオススメ‼️豪快に注いでくれるカフェラテが飲めるお店
                                                    </span>
                                                </h3>
                                            </a>
                                        </li>
            
                                    </ul>
                                </div>
                            </div>
    
                
                        </div>
                
                    </div>
                    <div class="c-sec__header p-news-head">
                        <a href="#">
                            <h2 class="c-sec__ttl">
                                <svg class="i-ttl">
                                    <use xlink:href="./assets/images/sprite.svg#i-news"></use>
                                </svg>
                                <span class="-en">新着記事一覧</span>
                            </h2>
                            <svg class="i-next">
                                <use xlink:href="./assets/images/sprite.svg#nextpage"></use>
                            </svg>
                        </a>
                    </div>
                    <ul class="c-tab__list p-news-tab__list">
                        <li class="c-tab__item p-news-tab__item">
                            <a href="">
                                <span>ニュース</span>
                            </a>
                        </li>
                        <li class="c-tab__item p-news-tab__item">
                            <a href="">
                                <span>エンタメ</span>
                            </a>
                        </li>
                        <li class="c-tab__item p-news-tab__item">
                            <a href="">
                                <span>炎上系</span>
                            </a>
                        </li>
                        <li class="c-tab__item p-news-tab__item">
                            <a href="">
                                <span>イベント</span>
                            </a>
                        </li>
                        <li class="c-tab__item p-news-tab__item">
                            <a href="">
                                <span>キャンペーン</span>
                            </a>
                        </li>
                        <li class="c-tab__item p-news-tab__item">
                            <a href="">
                                <span>キャンペーン</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="p-news__list">
                        <li class="c-cont__item p-news__item">
                            <div class="p-news__item--inner">
                                <div class="p-news-cont__top">
                                    <a href="/system" class="c-cont__link">
                                        <figure class="c-img p-news-cont__img">
                                            <img src="./assets/images/ogp.webp" alt="">
                                        </figure>
                                    </a>
                                </div>
                                <div class="p-news-cont__bot">
                                    <a href="/system">
                                        <h3 class="c-cont__ttl p-news-cont__ttl">
                                            『Sky』星の子ども、『ブルアカ』アル、ユウカほか多数商品化。『NIKKE』ラピ、アニスのねんどろいども。グッスマのゲーム関連フィギュア最新情報まとめ（2）
                                        </h3>
                                        <p class="p-news-cont__txt">
                                            <span>
                                                グッドスマイルカンパニー企画部の公式Twitterにて、現在開催中の“ワンダーフェスティバル2023【夏】”に関連して多数の新作フィギュアの最新情報が発表された。
                                            </span>
                                        </p>
                                    </a>
                                    <div class="p-news-cont__data">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news__item--inner">
                                <div class="p-news-cont__top">
                                    <a href="/system" class="c-cont__link">
                                        <figure class="c-img p-news-cont__img">
                                            <img src="./assets/images/images.jpg" alt="">
                                        </figure>
                                    </a>
                                </div>
                                <div class="p-news-cont__bot">
                                    <a href="/system">
                                        <h3 class="c-cont__ttl p-news-cont__ttl">
                                            『Sky』星の子ども、『ブルアカ』アル、ユウカほか多数商品化。『NIKKE』ラピ、アニスのねんどろいども。グッスマのゲーム関連フィギュア最新情報まとめ（2）
                                        </h3>
                                        <p class="p-news-cont__txt">
                                            <span>
                                                グッドスマイルカンパニー企画部の公式Twitterにて、現在開催中の“ワンダーフェスティバル2023【夏】”に関連して多数の新作フィギュアの最新情報が発表された。
                                            </span>
                                        </p>
                                    </a>
                                    <div class="p-news-cont__data">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news__item--inner">
                                <div class="p-news-cont__top">
                                    <a href="/system" class="c-cont__link">
                                        <figure class="c-img p-news-cont__img">
                                            <img src="./assets/images/game2.webp" alt="">
                                        </figure>
                                    </a>
                                </div>
                                <div class="p-news-cont__bot">
                                    <a href="/system">
                                        <h3 class="c-cont__ttl p-news-cont__ttl">
                                            『Sky』星の子ども、『ブルアカ』アル、ユウカほか多数商品化。『NIKKE』ラピ、アニスのねんどろいども。グッスマのゲーム関連フィギュア最新情報まとめ（2）
                                        </h3>
                                        <p class="p-news-cont__txt">
                                            <span>
                                                グッドスマイルカンパニー企画部の公式Twitterにて、現在開催中の“ワンダーフェスティバル2023【夏】”に関連して多数の新作フィギュアの最新情報が発表された。
                                            </span>
                                        </p>
                                    </a>
                                    <div class="p-news-cont__data">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news__item--inner">
                                <div class="p-news-cont__top">
                                    <a href="/system" class="c-cont__link">
                                        <figure class="c-img p-news-cont__img">
                                            <img src="./assets/images/pickup02.jpg" alt="">
                                        </figure>
                                    </a>
                                </div>
                                <div class="p-news-cont__bot">
                                    <a href="/system">
                                        <h3 class="c-cont__ttl p-news-cont__ttl">
                                            『Sky』星の子ども、『ブルアカ』アル、ユウカほか多数商品化。『NIKKE』ラピ、アニスのねんどろいども。グッスマのゲーム関連フィギュア最新情報まとめ（2）
                                        </h3>
                                        <p class="p-news-cont__txt">
                                            <span>
                                                グッドスマイルカンパニー企画部の公式Twitterにて、現在開催中の“ワンダーフェスティバル2023【夏】”に関連して多数の新作フィギュアの最新情報が発表された。
                                            </span>
                                        </p>
                                    </a>
                                    <div class="p-news-cont__data">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news__item--inner">
                                <div class="p-news-cont__top">
                                    <a href="/system" class="c-cont__link">
                                        <figure class="c-img p-news-cont__img">
                                            <img src="./assets/images/game1.png" alt="">
                                        </figure>
                                    </a>
                                </div>
                                <div class="p-news-cont__bot">
                                    <a href="/system">
                                        <h3 class="c-cont__ttl p-news-cont__ttl">
                                            『Sky』星の子ども、『ブルアカ』アル、ユウカほか多数商品化。『NIKKE』ラピ、アニスのねんどろいども。グッスマのゲーム関連フィギュア最新情報まとめ（2）
                                        </h3>
                                        <p class="p-news-cont__txt">
                                            <span>
                                                グッドスマイルカンパニー企画部の公式Twitterにて、現在開催中の“ワンダーフェスティバル2023【夏】”に関連して多数の新作フィギュアの最新情報が発表された。
                                            </span>
                                        </p>
                                    </a>
                                    <div class="p-news-cont__data">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news__item--inner">
                                <div class="p-news-cont__top">
                                    <a href="/system" class="c-cont__link">
                                        <figure class="c-img p-news-cont__img">
                                            <img src="./assets/images/game2.webp" alt="">
                                        </figure>
                                    </a>
                                </div>
                                <div class="p-news-cont__bot">
                                    <a href="/system">
                                        <h3 class="c-cont__ttl p-news-cont__ttl">
                                            『Sky』星の子ども、『ブルアカ』アル、ユウカほか多数商品化。『NIKKE』ラピ、アニスのねんどろいども。グッスマのゲーム関連フィギュア最新情報まとめ（2）
                                        </h3>
                                        <p class="p-news-cont__txt">
                                            <span>
                                                グッドスマイルカンパニー企画部の公式Twitterにて、現在開催中の“ワンダーフェスティバル2023【夏】”に関連して多数の新作フィギュアの最新情報が発表された。
                                            </span>
                                        </p>
                                    </a>
                                    <div class="p-news-cont__data">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news__item--inner">
                                <div class="p-news-cont__top">
                                    <a href="/system" class="c-cont__link">
                                        <figure class="c-img p-news-cont__img">
                                            <img src="./assets/images/evnt1.jpg" alt="">
                                        </figure>
                                    </a>
                                </div>
                                <div class="p-news-cont__bot">
                                    <a href="/system">
                                        <h3 class="c-cont__ttl p-news-cont__ttl">
                                            『Sky』星の子ども、『ブルアカ』アル、ユウカほか多数商品化。『NIKKE』ラピ、アニスのねんどろいども。グッスマのゲーム関連フィギュア最新情報まとめ（2）
                                        </h3>
                                        <p class="p-news-cont__txt">
                                            <span>
                                                グッドスマイルカンパニー企画部の公式Twitterにて、現在開催中の“ワンダーフェスティバル2023【夏】”に関連して多数の新作フィギュアの最新情報が発表された。
                                            </span>
                                        </p>
                                    </a>
                                    <div class="p-news-cont__data">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news__item--inner">
                                <div class="p-news-cont__top">
                                    <a href="/system" class="c-cont__link">
                                        <figure class="c-img p-news-cont__img">
                                            <img src="./assets/images/game1.png" alt="">
                                        </figure>
                                    </a>
                                </div>
                                <div class="p-news-cont__bot">
                                    <a href="/system">
                                        <h3 class="c-cont__ttl p-news-cont__ttl">
                                            『Sky』星の子ども、『ブルアカ』アル、ユウカほか多数商品化。『NIKKE』ラピ、アニスのねんどろいども。グッスマのゲーム関連フィギュア最新情報まとめ（2）
                                        </h3>
                                        <p class="p-news-cont__txt">
                                            <span>
                                                グッドスマイルカンパニー企画部の公式Twitterにて、現在開催中の“ワンダーフェスティバル2023【夏】”に関連して多数の新作フィギュアの最新情報が発表された。
                                            </span>
                                        </p>
                                    </a>
                                    <div class="p-news-cont__data">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="c-cont__item p-news__item">
                            <div class="p-news__item--inner">
                                <div class="p-news-cont__top">
                                    <a href="/system" class="c-cont__link">
                                        <figure class="c-img p-news-cont__img">
                                            <img src="./assets/images/game1.png" alt="">
                                        </figure>
                                    </a>
                                </div>
                                <div class="p-news-cont__bot">
                                    <a href="/system">
                                        <h3 class="c-cont__ttl p-news-cont__ttl">
                                            『Sky』星の子ども、『ブルアカ』アル、ユウカほか多数商品化。『NIKKE』ラピ、アニスのねんどろいども。グッスマのゲーム関連フィギュア最新情報まとめ（2）
                                        </h3>
                                        <p class="p-news-cont__txt">
                                            <span>
                                                グッドスマイルカンパニー企画部の公式Twitterにて、現在開催中の“ワンダーフェスティバル2023【夏】”に関連して多数の新作フィギュアの最新情報が発表された。
                                            </span>
                                        </p>
                                    </a>
                                    <div class="p-news-cont__data">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>4時間前</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="c-sec__btn p-news__btn">
                        <a href="#">
                            <i>もっと見る</i>
                            <svg>
                                <use xlink:href="./assets/images/sprite.svg#i-nextpage2"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </section>
            <section class="l-side l-side--scroll u-dp-pc">


                <div class="c-sec__inner l-side__inner p-rank__inner">
                    <div class="c-sec__header">
                        <a href="#">
                            <h2 class="c-sec__ttl">
                                <svg class="i-ttl">
                                    <use xlink:href="./assets/images/sprite.svg#i-crown"></use>
                                </svg>
                                <span class="-en">注目記事一覧</span>
                            </h2>
                            <svg class="i-next">
                                <use xlink:href="./assets/images/sprite.svg#nextpage"></use>
                            </svg>
                        </a>
                    </div>
                    <ul class="c-tab__list">
                        <li class="c-tab__item p-rank-tab__item js-tab--trigger is-active" data-tab="tab-content01">
                            <span>現在</span>
                        </li>
                        <li class="c-tab__item p-rank-tab__item js-tab--trigger" data-tab="tab-content02">
                            <span>週間</span>
                        </li>
                        <li class="c-tab__item p-rank-tab__item js-tab--trigger" data-tab="tab-content02">
                            <span>月間</span>
                        </li>
                    </ul>

                    <div class="l-side-tab__content">
                        <div id="tab-content01" class="p-about__box js-tab--content is-active">
                            <ul class="p-rank__list">
                                <li class="c-cont__item p-rank__item">
                                    <div class="p-rank-head p-rank__count">
                                        <a href="/system" class="c-cont__link">
                                            <figure class="c-img p-rank-cont__img">
                                                <img src="./assets/images/evnt1.jpg" alt="">
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="p-rank-foot">
                                        <a href="/system" class="p-rank-foot__link">
                                            <h3 class="c-cont__ttl l-side-cont__ttl p-rank-foot__ttl">
                                                『FF7 エバークライシス』600万DL突破。最新アップデート情報を発表する公式生放送が9月26日に配信決定
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="p-rank-foot__data">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>2023.12.01</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="c-cont__item p-rank__item">
                                    <div class="p-rank-head p-rank__count">
                                        <a href="/system" class="c-cont__link">
                                            <figure class="c-img p-rank-cont__img">
                                                <img src="./assets/images/ogp_r.jpg" alt="">
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="p-rank-foot">
                                        <a href="/system" class="p-rank-foot__link">
                                            <h3 class="c-cont__ttl l-side-cont__ttl p-rank-foot__ttl">
                                                『龍が如く』桐生一馬と真島吾朗がフィギュア化。オプションパーツにはスタミナンXやヘルメット、鬼炎のドスが付属
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="p-rank-foot__data">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>2023.12.01</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="c-cont__item p-rank__item">
                                    <div class="p-rank-head p-rank__count">
                                        <a href="/system" class="c-cont__link">
                                            <figure class="c-img p-rank-cont__img">
                                                <img src="./assets/images/single1.jpg" alt="">
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="p-rank-foot">
                                        <a href="/system" class="p-rank-foot__link">
                                            <h3 class="c-cont__ttl l-side-cont__ttl p-rank-foot__ttl">
                                                【Amazon】小学生向けキッズタブレット『Fire HD 10 キッズプロ』発表。最大25%高速化したプロセッサや最大13時間稼働できるバッテリーを搭載
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="p-rank-foot__data">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="./assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>2023.12.01</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="c-cont__item p-rank__item">
                                    <div class="p-rank-head p-rank__count">
                                        <a href="/system" class="c-cont__link">
                                            <figure class="c-img p-rank-cont__img">
                                                <img src="../assets/images/ogp4.jpg" alt="">
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="p-rank-foot">
                                        <a href="/system" class="p-rank-foot__link">
                                            <h3 class="c-cont__ttl l-side-cont__ttl p-rank-foot__ttl">
                                                『龍が如く』桐生一馬と真島吾朗がフィギュア化。オプションパーツにはスタミナンXやヘルメット、鬼炎のドスが付属
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="p-rank-foot__data">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="../assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>2023.12.01</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="c-cont__item p-rank__item">
                                    <div class="p-rank-head p-rank__count">
                                        <a href="/system" class="c-cont__link">
                                            <figure class="c-img p-rank-cont__img">
                                                <img src="../assets/images/goods1.jpg" alt="">
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="p-rank-foot">
                                        <a href="/system" class="p-rank-foot__link">
                                            <h3 class="c-cont__ttl l-side-cont__ttl p-rank-foot__ttl">
                                                【Amazon】小学生向けキッズタブレット『Fire HD 10 キッズプロ』発表。最大25%高速化したプロセッサや最大13時間稼働できるバッテリーを搭載
                                            </h3>
                                        </a>
                                    </div>
                                    <div class="p-rank-foot__data">
                                        <div class="c-cont__time">
                                            <svg class="i-clock">
                                                <use xlink:href="../assets/images/sprite.svg#clock24"></use>
                                            </svg>
                                            <time>2023.12.01</time>
                                        </div>
                                        <ul class="c-cont-tag__list">
                                            <li class="c-cont-tag__item">
                                                <a href="">
                                                    <span>キャンペーン</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <div class="c-sec__btn p-rank__btn">
                                <a href="#">
                                    <i>もっと見る</i>
                                    <svg>
                                        <use xlink:href="./assets/images/sprite.svg#i-nextpage2"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div id="tab-content02" class="p-about__box js-tab--content">

                            <ul class="l-side__list l-side__list--scroll">
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side-cont__head">
                                        <a href="/system">
                                            1
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                オトメイトパーティー2023新発表・新作ゲームまとめ。『薄桜鬼』15周年記念PV、ヤクルトスワローズの選手と恋愛しリーグ優勝を目指す『マイナイン』ほか最新情報が公開
                                            </h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side-cont__head">
                                        <a href="/system">
                                            2
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                オトメイトパーティー2023新発表・新作ゲームまとめ。『薄桜鬼』15周年記念PV、ヤクルトスワローズの選手と恋愛しリーグ優勝を目指す『マイナイン』ほか最新情報が公開
                                            </h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side-cont__head">
                                        <a href="/system">
                                            3
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                オトメイトパーティー2023新発表・新作ゲームまとめ。『薄桜鬼』15周年記念PV、ヤクルトスワローズの選手と恋愛しリーグ優勝を目指す『マイナイン』ほか最新情報が公開
                                            </h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side-cont__head">
                                        <a href="/system">
                                            4
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                オトメイトパーティー2023新発表・新作ゲームまとめ。『薄桜鬼』15周年記念PV、ヤクルトスワローズの選手と恋愛しリーグ優勝を目指す『マイナイン』ほか最新情報が公開
                                            </h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="c-cont__item l-side__item">
                                    <div class="p-news-cont__head l-side-cont__head">
                                        <a href="/system">
                                            5
                                        </a>
                                    </div>
                                    <div class="p-news-cont__bot l-side-cont__bot">
                                        <a href="/system">
                                            <h3 class="c-cont__ttl l-side-cont__ttl">
                                                オトメイトパーティー2023新発表・新作ゲームまとめ。『薄桜鬼』15周年記念PV、ヤクルトスワローズの選手と恋愛しリーグ優勝を目指す『マイナイン』ほか最新情報が公開
                                            </h3>
                                        </a>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="c-sec__inner l-side__inner p-prof__inner">
                    <div class="p-prof-body">
                        <p class="p-prof-body__txt">
                            豚箱速報では作品データベースのことです。ご一読いただけますと幸いです。よろしくお願いいたします。
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>

</main>

<%- include('./_inc/_footer', { pageId: pageId }) %>