@use "../foundation" as *;

.c-pagePath {
  position: relative;
  background: rgba($color: #1b1b1b, $alpha: 0.65);
  // background: #0B2341;
  // background: rgba($color: #000, $alpha: 0.65);
  width: 100%;
  border: 2px solid #1c1e22;
  // border-bottom: none;
  ul {
    @include flex($align:center);
    padding: min(vwsp(2px),6px) 10px min(vwsp(4px),6px);
    @include mq-target(sm) {
      padding: min(vwpc(2px),6px) min(vwsp(10px), 20px) min(vwpc(4px),6px);
    }
      li {

        margin-right: 12px;
        padding-right: 16px;
        color: #fff;
        white-space: nowrap;
        position: relative;

        &:not(:last-child)::after {
          position: absolute;
          top: 50%;
          right: 0;
          display: block;
          content: '';
          width: 6px;
          height: 6px;
          margin-top: -2px;
          border-top: 1px solid rgba(255, 255, 255, 0.5);
          border-right: 1px solid rgba(255, 255, 255, 0.5);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        a {
          font-size: min(vwsp(12px),14px);
          @include mq-target(sm) {
            font-size: min(vwpc(12px),14px);
          }
          color: #fff;
        }
      }
  }
}

.c-tab {
  &__list {
    @include flex($align:center);
    // flex-wrap: wrap;

  }

  &__item {
    cursor: pointer;
    // width: 33%;
    // margin-bottom: 4px;
    padding-bottom: 4px;

    &.is-active {
      border-bottom: 1px solid $color-red;
    }

    span {
      color: $color-white;
      font-size: 12px;
      @include mq-target(sm){
      }
    }
  }
}

.c-picture {
  &__img {
    position: relative;
    transform: scale(1);
    @include mq-target(sm) {
      padding: 2%;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      // background-image: url(../images/frame.png);
    background-size: 100% auto;
    background-position: left top;
    background-repeat: no-repeat;
    }

    picture {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    // background-color: black;
    padding-top: 54.46875%;
    @include mq-target(sm) {
    }

      img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.c-sec {
  overflow: hidden;
  padding: vw(60px, 768) 0px vw(100px, 768);
  @include mq-target(sm) {
    padding: min(vw(40px,769),80px) 0;
    padding-top: 0;
  }

  &__inner {
    overflow: hidden;
    position: relative;
    z-index: 100;
    margin: auto;
    // box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 2px solid #1c1e22;
    // border-radius: clamp(4px,2.1vw,8px);
    // background: url(../images/charaBg04.jpg) repeat center bottom;
    // background: rgba($color: #000000, $alpha: 0.75);
    // background: rgba($color: #606060, $alpha: 0.15);
    background: rgba($color: #141414, $alpha: 0.75);
    // background: rgba($color: #141414, $alpha: 0.75);
    // background: rgba($color: #000, $alpha: 0.75);
    background-size: 100% auto;
    // background: #0B2341;
    overflow: hidden;

    padding: min(vwsp(16px),30px) min(vwsp(8px),20px);
    // padding: vwsp(40px) vwsp(28px);
    @include mq-target(sm) {
      padding: min(vwpc(10px),20px) min(vwpc(6px),10px);
    }
  }

  &__header {
    margin: auto;
    text-align: left;
    padding-bottom: min(vwpc(4px),8px);
    @include mq-target(sm) {
      // text-align: center;
    }

    a {
      display: flex;
      align-items: center;
      // justify-content: space-between;

      &:hover {
        transition: opacity .2s ease;
        opacity: 0.75;
      }
    }

    .i-next {
      margin-left: 8px;
      width: min(vwsp(18px),26px);
      height: min(vwsp(18px),26px);
      @include mq-target(sm) {
        width: min(vwpc(14px),20px);
        height: min(vwpc(14px),20px);
      }
      color: $color-red;
    }

  }

  &__ttl {
    position: relative;

    text-transform: uppercase;
    z-index: 10;
    text-align: left;
    display: inline-block;
    font-family: "teko";

    & .-en {
      // top: 0.2604166667vw;
      font-size: 4.375vw;
      position: relative;
      // top: 5px;
      color: #fff;
      letter-spacing: .06em;
      line-height: 1;
      opacity: .75;
      background-image: linear-gradient(to bottom,#fd1e00,#dc1b6f);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: 400;
      font-size: min(vwsp(42px),48px);
      
      @include mq-target(sm) {
        font-size: min(vwpc(42px),48px);
      }
    }

    & .-ja {
      height: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    position: absolute;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    // font-weight: 600;
    color: #fff;
    // font-family: "Shippori Mincho B1";
    // filter: drop-shadow(1px 1px 1px #000);
    opacity: 0.95;
    filter: drop-shadow(0 0 0.425vw rgba(254, 233, 46, .75));
    font-size: min(vwsp(14px),18px);
    @include mq-target(sm) {
      font-size: min(vwpc(16px),18px);
    }
    }
  }
}

.c-cont {

  &__item {
    position: relative;
    margin: min(vwsp(10px),14px) 0 0;
    padding: 0  0 min(vwsp(10px),14px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    @include mq-target(sm) {
      margin: min(vwpc(12px),14px) 0 0;
      padding: 0  0 min(vwpc(12px),14px);
    }

    &:first-child {
      margin-top: 0;
      padding-top: min(vwpc(12px),14px);
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

  // &::after {
  //     content: "";
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;
  //     height: 1px;
  //     width: 100%;
  //     opacity: 0.1;
  //     background: #fff;
  // }

  &:last-child {
    border: none;
      // padding-bottom: 0;
  }
  }

  &__link {
    // border-radius: 2px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    display: block;
    filter: drop-shadow(0 0 0.100vw black);
    &::after {
        content: "";
        @include mq-target(sm) {

          @include absAll;
          // background: url(../images/frame.png) no-repeat center top/contain;
          background-size: 100% 100%;
          
        }
    }
  }

  &-tag {
    &__list {
      margin-left: 12px;
      margin-right: auto;
      position: relative;
      @include flex($align:center);
      // pointer-events: none;

    //   &::after {
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     height: 1px;
    //     width: 100%;
    //     opacity: 0.15;
    //     background: #ddd;
    // }

    }

    &__item {
      position: relative;
      @include flex($align:center,$justify:center);

      &:nth-child(2) {
          margin: 0 10px;
      }

      a {
        display: block;
        display: flex;
        align-items: center;
        // height: 100%;

        border: 1px solid $color-border;
      }



      span {
        font-family: Arial, Helvetica, sans-serif;
          // font-weight:600;
          position: relative;
          font-size: min(vwsp(10px),12px);
          // background-image: linear-gradient(to bottom, #fd5842, #352e2c);
          // -webkit-background-clip: text;
          // color: transparent;
          color: #9e9e9e;
          padding: 1px 12px;
          // background-color: #EDEDED;
          // filter: drop-shadow(2px 1px 1px rgba(46, 77, 254, 0.25));
          font-size: 10px;
          @include mq-target(sm) {
            // font-size: min(vwpc(10px),12px);
          }
      }
    }
  }

  &__time {

    display: flex;
    align-items: center;
    color: #9e9e9e;
    z-index: 1;
    font-weight: 300;
    @include mq-target(sm) {
      // margin-top: min(vwpc(10px),12px);
    }
    // font-family: "Shippori Mincho B1";

    & .i-clock {
      position: relative;
      // top: -1px;
      width: 16px;
      height: 16px;
      fill: currentColor;
    }

    time {
      position: relative;
      padding-left: 6px;
      vertical-align: bottom;
      font-size: 10px;
      @include mq-target(sm) {
        font-size: 10px;
        font-size: min(vwpc(10px),12px);
      }
    }
  }

  &__ttl {
    font-weight: 700;
    text-align: left;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    color: #4997f0;
  }
}
