@use "../foundation" as *;


.i-next {
  position: relative;
  top: 2px;
  // margin-left:2px;
  width: min(vwsp(16px),22px);
  height: min(vwsp(16px),22px);
  @include mq-target(sm) {
    width: 20px;
    height: 20px;
  }
  @include mq-target(md) {
    width: 20px;
    height: 20px;
  }
  color: $color-font;
}

.i-ttl {
  position: relative;
  width: 30px;
  height: 30px;
  // top: -4px;
  margin-right: 4px;
  color: $color-font;
}

.c-pagePath {
  position: relative;
  // background: #fff;
  // background: $color-red;
  background: rgba($color: #181818, $alpha: 1);
  background: $color-bg;
  background-image: repeating-linear-gradient(-45deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,.1) 6px,transparent 0,transparent 12px);

  // border-bottom: $color-border-waku;

  // border-top: none;
  // border-right: none;
  // border-bottom: none;
  // background: rgba($color: #000, $alpha: 0.65);

  &::before {
    content: "";
    @include absAll;
    display: block;
    z-index: 110;
    // background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(0, 0, 0, 0.3) 10px, rgba(0, 0, 0, 0.3) 20px);
    z-index: 0;
  }
  
  width: 100%;
  // border-bottom: none;
  ul {
    @include flex($align:center);
    padding: 8px 16px;
    // padding: min(vwsp(2px),6px) 10px min(vwsp(4px),6px);
    @include mq-target(sm) {
      padding: 8px 46px;
    }
      li {
        line-height: 1;
        margin-right: 8px;
        padding-right: 12px;
        color: $color-key;
        white-space: nowrap;
        position: relative;

        &:not(:last-child)::after {
          position: absolute;
          top: 50%;
          right: 0;
          display: block;
          content: '';
          width: 6px;
          height: 6px;
          margin-top: -2px;
          border-top: 1px solid rgba(255, 255, 255, 1);
          border-right: 1px solid rgba(255, 255, 255, 1);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        a {
          font-weight: bold;
          color: $color-white;
          font-size: min(vwsp(12px),14px);
          @include mq-target(sm) {
            font-size: 12px;
            font-size: 13px;
          }
          @include mq-target(md) {
            // font-size: min(vwpc(12px),14px);
            // font-size: 18px;
          }
        }
      }
  }
}

.c-tab {
  &__list {
    @include flex($align:center);
    // flex-wrap: wrap;
    padding-bottom: 4px;
    @include mq(sm) {
      overflow: scroll;
    }
    // border-bottom: $color-border-waku;

  }

  &__item {
    cursor: pointer;
    // width: 33%;
    // margin-bottom: 4px;
    padding-bottom: 4px;
    &.is-active {
      border-bottom: 1px solid $color-red;
      
      span {
        font-weight: bold;
        color: $color-red;
      }
    }
    
    span {
      font-size: 12px;
      color: $color-white;
      font-weight: normal;
      @include mq-target(sm) {
        font-size: 18px;
    }
      @include mq-target(md){
        font-size: min(vwsp(12px),14px);
      }
    }
  }
}


.c-img {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  // height: 100%;
  // height: 0;
  aspect-ratio: 16 / 9;
  // padding: 56.25% 0 0;


  & img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover;object-position: center;';
  }
}

.c-sec {
  overflow: hidden;
  padding: vw(60px, 768) 0px vw(100px, 768);
  @include mq-target(md) {
    padding: min(vw(40px,769),80px) 0;
    padding-top: 0;
  }

  &__inner {
    overflow: hidden;
    position: relative;
    z-index: 100;

    // box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    // border-right: $color-border-waku;
    // background: rgba($color: #181818, $alpha: 0.75);
    background: #fff;
    // background-color: #e5e5f7;
// opacity: 0.8;?
    // background: #1A1A1B;

    overflow: hidden;
    // margin: 0 auto 10px;
    padding: 12px 2%;

    &::before {
      content: "";
      @include absAll;
      // background: rgba($color: #000000, $alpha: 0.45);
      // filter: blur(2px);
      z-index: -1;
  }
    
  @include mq-target(sm) {
      padding: 10px 2.4vw;
      // padding: 16px 16px;
      // margin-bottom: 14px;
    }
    // padding: vwsp(40px) vwsp(28px);
    @include mq-target(md) {
      // margin: 0 0 8px;
      // padding: 10px;
      padding: 15px;
      // padding: min(vwpc(10px),12px);
    }

    &:first-child {
      @include mq-target(md) {
        padding-top: 16px;
      }
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 42px;
      @include mq-target(md) {
      }
    }

    &:not(:first-child) {
      padding-top: 16px;
    }

    &:not(:last-child) {
      // padding-bottom: 0;
    }
  }

  &__header {

    border-radius: 2px;
    // overflow: hidden;
    position: relative;
    text-align: left;
    // box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 2px 2px;
    // border: 1px solid rgba(255, 255, 255, 0.1);
    // background: #0f0f0f;
    // background: rgba(15, 15, 15, 0.15);
    // background: $color-bg;
    // border: 1px solid $color-border;
    margin: 0 auto 12px;
    @include mq-target(sm) {
      margin: 0 0 10px;
      // padding-bottom: 6px;
      // padding: 8px 16px 0;
    }
    
    @include mq-target(md) {
      // padding: 0 10px;
    }   

    &::before {
      content: "";
      @include absAll;
      // background-image: url(../../assets/images/keepout.png);
      background-size: cover;
      // filter: blur(8px);
      background-repeat: no-repeat;
      z-index: 0;
    }
    
    // &::after {
    //   content: "";
    //   @include absAll;
    //   background: rgba($color: #000000, $alpha: 0.65);
    // }

    // &::before {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   top: 50%;
    //   left: 0;
    //   // z-index: 110;
    //   width: 100%;
    //   height: 16px;
    //   margin-top: -8px;
    //   // background-image: repeating-linear-gradient(-45deg,transparent,transparent 10px,rgba(0, 0, 0, 0.15) 10px,rgba(0, 0, 0, 0.15) 20px);
    //   background-image: repeating-linear-gradient(-45deg,transparent,transparent 10px,rgba(79, 145, 251, 0.15) 10px,rgba(79, 145, 251, 0.15) 20px);
    // }


    
    a {
      display: inline-block;
      // background: #fff;
      position: relative;
      @include flex($align:center);
      padding: 0 10px;
      // padding-bottom: 10px;
      // border-bottom: 1px solid #e0e0e0;

      @include mq-target(sm) {
        padding: 0;
      }
      @include mq-target(md) {

        // padding: min(vwpc(4px),4px) min(vwpc(8px),12px);
      }

      &:hover {
        h2 {
          & .i-next {
            transition: all .2s ease;
            color: $color-bg;
          }

        }
      }
    }
  }
  
  &__ttl {
    // flex: 1;
    line-height: initial;
    // background: #fff;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
    text-align: left;
    @include flex($align:center,$justify:space-between);
    width: 100%;
    
    @include mq-target(sm) {
      padding-left: 10px;
    }
    
    &::after {
      position: absolute;
      content: "";
      left: 0;
      height: 1.2em;
      border-left: 3px solid $color-bg;
      margin: -1px 0 0 -9px;
      @include mq-target(sm) {
        left: 10px;
      }
    }


    & .-en {
      // background: #fff;
      display: block;
      height: auto;
      // flex: 1;
      width: 100%;
      // font-weight: 400;
      // top: 0.2604166667vw;
      font-size: 4.375vw;
      position: relative;
      // top: 5px;
      // letter-spacing: 0.06em;
      color: $color-font;
      font-size: min(vwsp(16px),24px);

      span {
        padding-left: 4px;
        font-size: 14px;
        // background: #fff;
      }



      


      @include mq-target(sm) {
        font-size: 20px;
      }
      
      @include mq-target(md) {
        font-size: 18px;
      }
    }
  }

  &__btn {
    padding: 0;
    a {
      background: rgba($color: #0F0F0F, $alpha: 0.55);
      background: $color-bg;
      // background: rgba($color: #444, $alpha: 0.25);
      @include flex($align:center,$justify:center);
      // min-width: 220px;
      border-radius: 4px;
      font-style: normal;
      border: 1px solid $color-border;
      padding: 0 16px;
      height: 40px;
      font-size: 14px;
      
      i {
        color: $color-white;
        font-style: normal;
      }


      &:hover {
        transition: opacity .2s ease;
        opacity: 0.75;
      }

      svg {
        color: $color-white;
        width: 20px;
        height: 20px;
        padding-left: 4px;
        @include mq-target(sm) {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.c-cont {
  &-tag {
    &__list {
      position: relative;
      @include flex($align:center);
      margin-right: auto;
      margin-left: 12px;
      @include mq-target(sm) {
        margin-left: 14px;

      }
    }

    &__item {
      position: relative;
      @include flex($align:center,$justify:center);

      &:nth-child(2) {
          margin: 0 10px;
      }

      a {
        display: block;
        display: flex;
        align-items: center;
        background: $color-bg;
        background-image: repeating-linear-gradient(-45deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,.1) 6px,transparent 0,transparent 12px);

        // border: $color-border-waku;
        // border: 1px solid #9e9e9e;

      }



      span {
        font-weight: bold;
          position: relative;
          color: $color-white;
          padding: 1px 10px;
          font-size: 10px;
          @include mq-target(sm) {
            font-size: 10px;
          }
          @include mq-target(md) {
          }
      }
    }
  }

  &__time {
    line-height: 1;
    display: flex;
    align-items: center;
    color: $color-key;
    z-index: 1;
    font-weight: 300;
    @include mq-target(md) {
      // margin-top: min(vwpc(10px),12px);
    }
    // font-family: "Shippori Mincho B1";

    & .i-clock {
      position: relative;
      // top: -1px;
      width: 14px;
      height: 14px;
      fill: #9e9e9e;
      @include mq-target(sm) {
        width: 16px;
        height: 16px;
      }
    }

    time {
      position: relative;
      // top: -1px;
      padding-left: 4px;
      vertical-align: bottom;
      font-size: 10px;
      @include mq-target(sm) {
        font-size: 12px;
      }
      @include mq-target(md) {
        // font-size: min(vwpc(10px),14px);
      }
    }
  }

  &__ttl {
    font-weight: 700;
    text-align: left;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    color: $color-link;
    // color: #1d4fb5;
    @include mq-target(sm) {
      -webkit-line-clamp: 3;
    }
    @include mq-target(md) {
      -webkit-line-clamp: 4;
    }
    @include mq-target(lg) {
      -webkit-line-clamp: 4;
    }
  }

  &__btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    padding: 0 16px 0 24px;
    height: 26px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    // width: min(10.4166666667vw, 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    color: #9e9e9e;
    background: $color-bg;
    @include mq-target(sm) {
      display: flex;
    }
    span {
      // margin-left: 4px;
      position: relative;
      font-size: 12px;
      line-height: 1;
    }

    svg {
      position: relative;
      top: 1px;
      // margin-left: 2px;
      width: 14px;
      height: 14px;
    }
  }
}



.c-card {
  &__item {
    position: relative;
    margin-bottom: 20px;
    @include mq-target(sm) {
    }

    &:first-child {
      margin-top: 6px;
    }
    
    &::after {
      background: #e0e0e0;
      position: absolute;
      content: "";
      height: 0.5px;
      left: 0;
      width: 100%;
      // left: 15px;
      // width: calc(100% - 30px);
      bottom: -10px;
      @include mq-target(sm) {
      }
    }

    &:last-child {
      margin-bottom: 0;
      &::after {
        background: none;
      }
    }
    

    &--inner {
      position: relative;
      display: flex;
    }
  }
}