@use "../foundation" as *;

.c-picture {
  &__img {
    margin: 0;
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    // transform: scale(1);

    picture {
      padding-top: 82.25%;
      display: block;
      overflow: hidden;
      position: relative;
      width: 99%;

      @include mq-target(sm) {
        padding-top: 58.25%;
      }

      @include mq-target(md) {
        // padding-top: 64.25%;
        // padding-top: 58.25%;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.c-sec {
  overflow: hidden;
  padding: vw(60px, 768) 0px vw(100px, 768);
  @include mq-target(sm) {
    padding: min(vw(40px,769),80px) 0;
    padding-top: 0;
  }

  &__inner {
    overflow: hidden;
    position: relative;
    z-index: 100;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 2px solid #1c1e22;
    // border-radius: clamp(12px,2.1vw,24px);
    // background: url(../images/charaBg04.jpg) repeat center bottom;
    background: rgba($color: #000000, $alpha: 0.85);
    background-size: 100% auto;
    overflow: hidden;

    padding: min(vwsp(16px),30px) min(vwsp(8px),20px);
    // padding: vwsp(40px) vwsp(28px);
    @include mq-target(sm) {
      padding: min(vwpc(20px),30px) min(vwpc(10px),20px);
    }
  }

  &__header {
    margin: auto;
    text-align: left;

    @include mq-target(sm) {
      // text-align: center;
    }

    a {
      display: flex;
      align-items: center;
    }

    svg {
      margin-left: 4px;
      width: 28px;
      height: 28px;
      color: $color-red;
    }
  }

  &__ttl {
    position: relative;
    margin-bottom: 10px;
    text-transform: uppercase;
    z-index: 10;
    text-align: left;
    display: inline-block;

    & .-en {
      font-family: "teko";
      top: 0.2604166667vw;
      font-size: 4.375vw;
      position: relative;
      top: 5px;
      color: #fff;
      letter-spacing: .04em;
      line-height: 1;
      opacity: .75;
      background-image: linear-gradient(to bottom,#fd1e00,#dc1b6f);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: 600;
      font-size: min(vwsp(32px),46px);
      
      @include mq-target(sm) {
        font-size: min(vwpc(38px),52px);
      }
    }

    & .-ja {
      height: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    position: absolute;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    // font-weight: 600;
    color: #fff;
    font-family: "Shippori Mincho B1";
    // filter: drop-shadow(1px 1px 1px #000);
    filter: drop-shadow(0 0 0.625vw rgba(254, 233, 46, .95));
    font-size: min(vwsp(12px),16px);
    @include mq-target(sm) {
      font-size: min(vwpc(14px),18px);
    }
    }
  }
}

.c-cont {

  &__item {
    position: relative;
    padding: min(vwsp(10px),14px)  0 min(vwsp(10px),14px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    @include mq-target(sm) {
      padding: min(vwpc(12px),14px)  0 min(vwpc(12px),14px);
    }
  // &::after {
  //     content: "";
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;
  //     height: 1px;
  //     width: 100%;
  //     opacity: 0.1;
  //     background: #fff;
  // }

  &:last-child {
    border: navajowhite;
      padding-bottom: 0;
      &::after {
          opacity: 0;
      }
  }
  }

  &__link {
    position: relative;
    overflow: hidden;
    display: block;
    filter: drop-shadow(0 0 0.115vw black);
    &::after {
        content: "";
        @include mq-target(sm) {
          
          @include absAll;
          background: url(../images/frame.png) no-repeat center top/contain;
          background-size: 100% 100%;
          
        }
    }
  }

  &-tag {
    &__list {

      position: relative;
      @include flex($align:center);
      // pointer-events: none;

    //   &::after {
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     height: 1px;
    //     width: 100%;
    //     opacity: 0.15;
    //     background: #ddd;
    // }

    }

    &__item {
      position: relative;
      // width: min(vwsp(80px),100px);
      // height: min(vwsp(28px),32px);

      // margin: 0 -0.521vw 0;
      @include flex($align:center,$justify:center);
      @include mq-target(sm) {
        // width: min(vwpc(100px),150px);
        // height: min(vwpc(26px),38px);
      }

      &:nth-child(2) {
          margin: 0 10px;
      }

      a {
        display: block;
        display: flex;
        align-items: center;
        height: 100%;
      }



      span {
          font-weight:900;
          position: relative;
          z-index: 1;
          font-size: min(vwsp(10px),14px);
          color: $color-red;
          background-image: linear-gradient(to bottom, #fd5842, #352e2c);
          -webkit-background-clip: text;
          color: transparent;
          filter: drop-shadow(0 0 12px rgba(254, 233, 46, .55));
          @include mq-target(sm) {
            font-size: min(vwpc(12px),14px);
          }
      }
    }
  }

  &__time {
    margin-top: min(vwsp(4px),8px);
    // position: absolute;
    // bottom: 0;
    // left: 0;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    color: #9e9e9e;
    z-index: 1;
    font-weight: 300;
    @include mq-target(sm) {
      margin-top: min(vwpc(4px),8px);
    }
    // font-family: "Shippori Mincho B1";

    & .i-clock {
      position: relative;
      // top: -1px;
      width: 16px;
      height: 16px;
      fill: currentColor;
    }

    time {
      position: relative;
      padding-left: 6px;
      vertical-align: bottom;
      font-size: min(vwsp(10px),12px);
      @include mq-target(sm) {
        font-size: min(vwpc(10px),12px);
      }
    }
  }

  &__ttl {
    font-weight: 500;
    text-align: left;
    line-height: 1.4;
    display: -webkit-box;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
    -webkit-line-clamp: 5;
    color: #4997f0;
  }
}



.c-cont {
  &__head {

  }

  &__bot {

  }
}